In [1]:
# Импортируем необходимые библиотеки
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
plt.rc('font', family='Verdana')

# Построение модели, подбор оптимальных преобразований с разбиением на обучение и контроль

In [2]:
# Увеличиваем количество отображаемых столбцов датафрейма
pd.set_option('display.max_columns', 60)

# Считываем данные
# Создаем датафрейм из CSV файла, в котором используется кириллица и значения разделены точками с запятой
data = pd.read_csv("C:/Trees/Credit_OTP.csv", encoding='cp1251', sep = ';')
data.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,8000,6,8650,0,1,220,18.0,0,0,1,1,1,6,2,1,1580,1580,NaN
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,Торговля,Рабочий,Индивидуальный предприниматель,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,0,0,0,0,21650,6,4000,0,1,137,97.0,1,0,1,1,1,6,1,1,4020,4020,NaN
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,Информационные технологии,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,9000,Иркутская область,Иркутская область,Иркутская область,Иркутская область,ВОСТОЧНО-СИБИРСКИЙ,1,1,1,1,1,0,0,0,1,0,0,0,33126,12,4000,0,1,251,84.0,0,0,1,2,1,11,0,0,0,0,NaN
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,Образование,Руководитель среднего звена,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,25000,Ростовская область,Ростовская область,Ростовская область,Ростовская область,ЮЖНЫЙ,0,1,0,0,1,1,0,0,0,0,0,0,"8491,82",6,5000,0,0,36,168.0,1,1,1,1,1,6,3,1,"1589,923333",1590,NaN
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,Государственная служба,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,1,0,0,0,21990,12,4000,0,1,83,101.0,1,0,1,2,1,16,2,1,"1152,15",2230,NaN

In [3]:
# Выводим информацию о количестве строк (наблюдений) и количестве столбцов (переменных)
data.shape

(15223, 52)

In [4]:
# Выводим первые 5 наблюдений 
# Видим что категориальные переменные имеют строки, значит они правильно считаются
'''
помним, что некоторые категориальные переменные могут иметь просто целочисленные значения (например, 
target имеет значения 0 и 1), значит, они будут записаны как количественные, тип integer и это будет неправильно
'''
data.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,8000,6,8650,0,1,220,18.0,0,0,1,1,1,6,2,1,1580,1580,NaN
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,Торговля,Рабочий,Индивидуальный предприниматель,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,0,0,0,0,21650,6,4000,0,1,137,97.0,1,0,1,1,1,6,1,1,4020,4020,NaN
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,Информационные технологии,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,9000,Иркутская область,Иркутская область,Иркутская область,Иркутская область,ВОСТОЧНО-СИБИРСКИЙ,1,1,1,1,1,0,0,0,1,0,0,0,33126,12,4000,0,1,251,84.0,0,0,1,2,1,11,0,0,0,0,NaN
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,Образование,Руководитель среднего звена,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,25000,Ростовская область,Ростовская область,Ростовская область,Ростовская область,ЮЖНЫЙ,0,1,0,0,1,1,0,0,0,0,0,0,"8491,82",6,5000,0,0,36,168.0,1,1,1,1,1,6,3,1,"1589,923333",1590,NaN
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,Государственная служба,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,1,0,0,0,21990,12,4000,0,1,83,101.0,1,0,1,2,1,16,2,1,"1152,15",2230,NaN

In [5]:
# Выводим последние 5 наблюдений
data.tail()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
15218,75291424,0,25,1,0,0,1,1,Среднее,Состою в браке,Строительство,Специалист,Частная компания,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Воронежская область,Воронежская область,Воронежская область,Воронежская область,ЦЕНТРАЛЬНЫЙ 2,0,0,1,0,1,0,0,0,0,0,0,0,13450,10,1500,0,0,121,48.0,0,0,1,3,2,21,0,0,0,0,NaN
15219,75291888,0,51,1,0,1,2,0,Среднее специальное,Состою в браке,Здравоохранение,Другое,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,10000,Башкирия,Башкирия,Башкирия,Челябинская область,УРАЛЬСКИЙ,1,1,1,1,0,0,0,0,0,0,0,0,8991,6,4000,0,1,300,156.0,1,0,1,1,0,3,0,0,0,0,NaN
15220,75291923,0,22,1,0,1,1,1,Среднее,Не состоял в браке,Торговля,Служащий,Индивидуальный предприниматель,Без участия,Кадровая служба и секретариат,от 5000 до 10000 руб.,6000,Брянская область,Брянская область,Брянская область,Брянская область,ЦЕНТРАЛЬНЫЙ 1,1,1,1,1,1,0,0,0,0,0,0,0,2700,6,800,0,1,48,48.0,0,0,1,1,0,5,0,0,0,0,NaN
15221,75291960,0,60,0,1,1,2,0,Среднее,Вдовец/Вдова,NaN,NaN,NaN,NaN,NaN,от 10000 до 20000 руб.,4500,Приморский край,Приморский край,Приморский край,Приморский край,ДАЛЬНЕВОСТОЧНЫЙ,1,1,1,1,1,1,0,0,0,0,0,0,24357,10,17930,0,0,270,NaN,1,0,0,1,0,3,0,0,0,0,NaN
15222,75292242,0,37,1,0,0,2,0,Среднее,Состою в браке,Транспорт,Специалист,Частная компания,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,20000,Карачаево-Черкесия,Карачаево-Черкесия,Карачаево-Черкесия,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,0,0,0,0,10245,6,1200,0,0,432,36.0,0,0,1,1,0,3,0,0,0,0,NaN

In [6]:
data[:1]

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,8000,6,8650,0,1,220,18.0,0,0,1,1,1,6,2,1,1580,1580,NaN

In [7]:
'''
переменная AGREEMENT_RK - идентификатор, сколько наблюдений, столько значений, удаляем
'''
data.drop(['AGREEMENT_RK'], axis=1, inplace=True)
data.head()

,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,8000,6,8650,0,1,220,18.0,0,0,1,1,1,6,2,1,1580,1580,NaN
1,0,32,1,0,1,3,3,Среднее,Состою в браке,Торговля,Рабочий,Индивидуальный предприниматель,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,0,0,0,0,21650,6,4000,0,1,137,97.0,1,0,1,1,1,6,1,1,4020,4020,NaN
2,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,Информационные технологии,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,9000,Иркутская область,Иркутская область,Иркутская область,Иркутская область,ВОСТОЧНО-СИБИРСКИЙ,1,1,1,1,1,0,0,0,1,0,0,0,33126,12,4000,0,1,251,84.0,0,0,1,2,1,11,0,0,0,0,NaN
3,0,39,1,0,1,1,1,Высшее,Состою в браке,Образование,Руководитель среднего звена,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,25000,Ростовская область,Ростовская область,Ростовская область,Ростовская область,ЮЖНЫЙ,0,1,0,0,1,1,0,0,0,0,0,0,"8491,82",6,5000,0,0,36,168.0,1,1,1,1,1,6,3,1,"1589,923333",1590,NaN
4,0,30,1,0,0,0,0,Среднее,Состою в браке,Государственная служба,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,1,0,0,0,21990,12,4000,0,1,83,101.0,1,0,1,2,1,16,2,1,"1152,15",2230,NaN

In [8]:
'''
в случае больших чисел будет экспоненциальная запись, избавляемся от нее с 
# помощью pd.set_option('display.float_format', lambda x: '%.3f' % x)
'''
pd.set_option('display.float_format', lambda x: '%.3f' % x)
'''
дальше вы запрашиваете статистики, но смотреть статистики переменных рано, надо разобраться с типами переменных
'''
data.describe()

,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,TERM,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,PREVIOUS_CARD_NUM_UTILIZED
count,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,13855.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,288.000
mean,0.119,40.406,0.910,0.134,0.655,1.099,0.645,0.839,0.951,0.886,0.838,0.905,0.310,0.116,0.074,0.216,0.010,0.019,0.044,8.101,0.000,0.589,3039.340,292.212,0.612,0.055,0.910,1.388,0.752,7.876,0.195,0.130,1.007
std,0.324,11.601,0.287,0.341,0.476,0.995,0.812,0.368,0.215,0.317,0.368,0.293,0.462,0.321,0.262,0.411,0.098,0.137,0.204,4.094,0.000,0.492,262455.437,24364.832,0.487,0.228,0.286,0.794,0.988,7.956,0.685,0.356,0.083
min,0.000,21.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,0.000,-26.000,1.000,0.000,0.000,0.000,1.000,0.000,1.000,0.000,0.000,1.000
25%,0.000,30.000,1.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,6.000,0.000,0.000,41.000,24.000,0.000,0.000,1.000,1.000,0.000,4.000,0.000,0.000,1.000
50%,0.000,39.000,1.000,0.000,1.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,6.000,0.000,1.000,108.000,48.000,1.000,0.000,1.000,1.000,0.000,5.000,0.000,0.000,1.000
75%,0.000,50.000,1.000,0.000,1.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,10.000,0.000,1.000,204.000,110.000,1.000,0.000,1.000,2.000,1.000,8.000,0.000,0.000,1.000
max,1.000,67.000,1.000,1.000,1.000,10.000,7.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000,1.000,1.000,1.000,1.000,36.000,0.000,1.000,28101997.000,2867959.000,1.000,1.000,1.000,11.000,11.000,114.000,13.000,8.000,2.000

In [9]:
# проверяем пропуски, указываем ось строк, потому что перемещаемся сверху вниз
data.count(axis=0)

TARGET                        15223
AGE                           15223
SOCSTATUS_WORK_FL             15223
SOCSTATUS_PENS_FL             15223
GENDER                        15223
CHILD_TOTAL                   15223
DEPENDANTS                    15223
EDUCATION                     15223
MARITAL_STATUS                15223
GEN_INDUSTRY                  13856
GEN_TITLE                     13856
ORG_TP_STATE                  13856
ORG_TP_FCAPITAL               13858
JOB_DIR                       13856
FAMILY_INCOME                 15223
PERSONAL_INCOME               15223
REG_ADDRESS_PROVINCE          15223
FACT_ADDRESS_PROVINCE         15223
POSTAL_ADDRESS_PROVINCE       15223
TP_PROVINCE                   14928
REGION_NM                     15222
REG_FACT_FL                   15223
FACT_POST_FL                  15223
REG_POST_FL                   15223
REG_FACT_POST_FL              15223
REG_FACT_POST_TP_FL           15223
FL_PRESENCE_FL                15223
OWN_AUTO                      15223
AUTO_RUS_FL                   15223
HS_PRESENCE_FL                15223
COT_PRESENCE_FL               15223
GAR_PRESENCE_FL               15223
LAND_PRESENCE_FL              15223
CREDIT                        15223
TERM                          15223
FST_PAYMENT                   15223
DL_DOCUMENT_FL                15223
GPF_DOCUMENT_FL               15223
FACT_LIVING_TERM              15223
WORK_TIME                     13855
FACT_PHONE_FL                 15223
REG_PHONE_FL                  15223
GEN_PHONE_FL                  15223
LOAN_NUM_TOTAL                15223
LOAN_NUM_CLOSED               15223
LOAN_NUM_PAYM                 15223
LOAN_DLQ_NUM                  15223
LOAN_MAX_DLQ                  15223
LOAN_AVG_DLQ_AMT              15223
LOAN_MAX_DLQ_AMT              15223
PREVIOUS_CARD_NUM_UTILIZED      288
dtype: int64

In [10]:
# Выводим информацию о количестве непропущенных наблюдений в переменных
# и типах переменных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 51 columns):
TARGET                        15223 non-null int64
AGE                           15223 non-null int64
SOCSTATUS_WORK_FL             15223 non-null int64
SOCSTATUS_PENS_FL             15223 non-null int64
GENDER                        15223 non-null int64
CHILD_TOTAL                   15223 non-null int64
DEPENDANTS                    15223 non-null int64
EDUCATION                     15223 non-null object
MARITAL_STATUS                15223 non-null object
GEN_INDUSTRY                  13856 non-null object
GEN_TITLE                     13856 non-null object
ORG_TP_STATE                  13856 non-null object
ORG_TP_FCAPITAL               13858 non-null object
JOB_DIR                       13856 non-null object
FAMILY_INCOME                 15223 non-null object
PERSONAL_INCOME               15223 non-null object
REG_ADDRESS_PROVINCE          15223 non-null object
FACT_ADDRESS_PROVINCE         15223 non-null object
POSTAL_ADDRESS_PROVINCE       15223 non-null object
TP_PROVINCE                   14928 non-null object
REGION_NM                     15222 non-null object
REG_FACT_FL                   15223 non-null int64
FACT_POST_FL                  15223 non-null int64
REG_POST_FL                   15223 non-null int64
REG_FACT_POST_FL              15223 non-null int64
REG_FACT_POST_TP_FL           15223 non-null int64
FL_PRESENCE_FL                15223 non-null int64
OWN_AUTO                      15223 non-null int64
AUTO_RUS_FL                   15223 non-null int64
HS_PRESENCE_FL                15223 non-null int64
COT_PRESENCE_FL               15223 non-null int64
GAR_PRESENCE_FL               15223 non-null int64
LAND_PRESENCE_FL              15223 non-null int64
CREDIT                        15223 non-null object
TERM                          15223 non-null int64
FST_PAYMENT                   15223 non-null object
DL_DOCUMENT_FL                15223 non-null int64
GPF_DOCUMENT_FL               15223 non-null int64
FACT_LIVING_TERM              15223 non-null int64
WORK_TIME                     13855 non-null float64
FACT_PHONE_FL                 15223 non-null int64
REG_PHONE_FL                  15223 non-null int64
GEN_PHONE_FL                  15223 non-null int64
LOAN_NUM_TOTAL                15223 non-null int64
LOAN_NUM_CLOSED               15223 non-null int64
LOAN_NUM_PAYM                 15223 non-null int64
LOAN_DLQ_NUM                  15223 non-null int64
LOAN_MAX_DLQ                  15223 non-null int64
LOAN_AVG_DLQ_AMT              15223 non-null object
LOAN_MAX_DLQ_AMT              15223 non-null object
PREVIOUS_CARD_NUM_UTILIZED    288 non-null float64
dtypes: float64(2), int64(31), object(18)
memory usage: 5.9+ MB

In [11]:
'''
Из предыдущего вывода видим, что некоторые категориальные переменные записаны неправильно как количественные,
присваиваем нашим псевдоколичественным переменным правильный тип с помощью метода .astype(), можно взять тип str,
можно тип object, помним, что при преобразовании в тип str значения NaN будут преобразованы в отдельную категорию,
а при преобразовании в тип object значения NaN так и останутся значениями NaN. выполнив преобразование, проверяем
'''
for i in ['TARGET', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER', 
          'EDUCATION', 'MARITAL_STATUS', 'GEN_INDUSTRY', 'GEN_TITLE',
          'ORG_TP_STATE', 'ORG_TP_FCAPITAL', 'JOB_DIR', 'REG_ADDRESS_PROVINCE',
          'FACT_ADDRESS_PROVINCE', 'POSTAL_ADDRESS_PROVINCE', 'TP_PROVINCE', 'REGION_NM',
          'REG_FACT_FL', 'FACT_POST_FL', 'REG_POST_FL', 'REG_FACT_POST_FL', 
          'REG_FACT_POST_TP_FL', 'FL_PRESENCE_FL', 'AUTO_RUS_FL', 'HS_PRESENCE_FL',
          'COT_PRESENCE_FL', 'GAR_PRESENCE_FL', 'LAND_PRESENCE_FL', 'DL_DOCUMENT_FL',
          'GPF_DOCUMENT_FL', 'FACT_PHONE_FL', 'REG_PHONE_FL', 'GEN_PHONE_FL']:
    if i in data.columns:
        data[i]=data[i].astype('str')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 51 columns):
TARGET                        15223 non-null object
AGE                           15223 non-null int64
SOCSTATUS_WORK_FL             15223 non-null object
SOCSTATUS_PENS_FL             15223 non-null object
GENDER                        15223 non-null object
CHILD_TOTAL                   15223 non-null int64
DEPENDANTS                    15223 non-null int64
EDUCATION                     15223 non-null object
MARITAL_STATUS                15223 non-null object
GEN_INDUSTRY                  15223 non-null object
GEN_TITLE                     15223 non-null object
ORG_TP_STATE                  15223 non-null object
ORG_TP_FCAPITAL               15223 non-null object
JOB_DIR                       15223 non-null object
FAMILY_INCOME                 15223 non-null object
PERSONAL_INCOME               15223 non-null object
REG_ADDRESS_PROVINCE          15223 non-null object
FACT_ADDRESS_PROVINCE         15223 non-null object
POSTAL_ADDRESS_PROVINCE       15223 non-null object
TP_PROVINCE                   15223 non-null object
REGION_NM                     15223 non-null object
REG_FACT_FL                   15223 non-null object
FACT_POST_FL                  15223 non-null object
REG_POST_FL                   15223 non-null object
REG_FACT_POST_FL              15223 non-null object
REG_FACT_POST_TP_FL           15223 non-null object
FL_PRESENCE_FL                15223 non-null object
OWN_AUTO                      15223 non-null int64
AUTO_RUS_FL                   15223 non-null object
HS_PRESENCE_FL                15223 non-null object
COT_PRESENCE_FL               15223 non-null object
GAR_PRESENCE_FL               15223 non-null object
LAND_PRESENCE_FL              15223 non-null object
CREDIT                        15223 non-null object
TERM                          15223 non-null int64
FST_PAYMENT                   15223 non-null object
DL_DOCUMENT_FL                15223 non-null object
GPF_DOCUMENT_FL               15223 non-null object
FACT_LIVING_TERM              15223 non-null int64
WORK_TIME                     13855 non-null float64
FACT_PHONE_FL                 15223 non-null object
REG_PHONE_FL                  15223 non-null object
GEN_PHONE_FL                  15223 non-null object
LOAN_NUM_TOTAL                15223 non-null int64
LOAN_NUM_CLOSED               15223 non-null int64
LOAN_NUM_PAYM                 15223 non-null int64
LOAN_DLQ_NUM                  15223 non-null int64
LOAN_MAX_DLQ                  15223 non-null int64
LOAN_AVG_DLQ_AMT              15223 non-null object
LOAN_MAX_DLQ_AMT              15223 non-null object
PREVIOUS_CARD_NUM_UTILIZED    288 non-null float64
dtypes: float64(2), int64(11), object(38)
memory usage: 5.9+ MB

In [12]:
'''
Из предыдущего вывода также видим, что некоторые количественные переменные записаны неправильно как категориальные,
это произошло из-за того, что десятичным разделителем является запятая вместо точки, поэтому меняем запятую на точку и
присваиваем правильный тип. для краткости использум цепочку из методов .str.replace() и .astype().
выполнив преобразование, проверяем
'''
for i in ['PERSONAL_INCOME', 'CREDIT', 'FST_PAYMENT', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT']:
    if i in data.columns:
        data[i] = data[i].str.replace(',', '.').astype('float')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 51 columns):
TARGET                        15223 non-null object
AGE                           15223 non-null int64
SOCSTATUS_WORK_FL             15223 non-null object
SOCSTATUS_PENS_FL             15223 non-null object
GENDER                        15223 non-null object
CHILD_TOTAL                   15223 non-null int64
DEPENDANTS                    15223 non-null int64
EDUCATION                     15223 non-null object
MARITAL_STATUS                15223 non-null object
GEN_INDUSTRY                  15223 non-null object
GEN_TITLE                     15223 non-null object
ORG_TP_STATE                  15223 non-null object
ORG_TP_FCAPITAL               15223 non-null object
JOB_DIR                       15223 non-null object
FAMILY_INCOME                 15223 non-null object
PERSONAL_INCOME               15223 non-null float64
REG_ADDRESS_PROVINCE          15223 non-null object
FACT_ADDRESS_PROVINCE         15223 non-null object
POSTAL_ADDRESS_PROVINCE       15223 non-null object
TP_PROVINCE                   15223 non-null object
REGION_NM                     15223 non-null object
REG_FACT_FL                   15223 non-null object
FACT_POST_FL                  15223 non-null object
REG_POST_FL                   15223 non-null object
REG_FACT_POST_FL              15223 non-null object
REG_FACT_POST_TP_FL           15223 non-null object
FL_PRESENCE_FL                15223 non-null object
OWN_AUTO                      15223 non-null int64
AUTO_RUS_FL                   15223 non-null object
HS_PRESENCE_FL                15223 non-null object
COT_PRESENCE_FL               15223 non-null object
GAR_PRESENCE_FL               15223 non-null object
LAND_PRESENCE_FL              15223 non-null object
CREDIT                        15223 non-null float64
TERM                          15223 non-null int64
FST_PAYMENT                   15223 non-null float64
DL_DOCUMENT_FL                15223 non-null object
GPF_DOCUMENT_FL               15223 non-null object
FACT_LIVING_TERM              15223 non-null int64
WORK_TIME                     13855 non-null float64
FACT_PHONE_FL                 15223 non-null object
REG_PHONE_FL                  15223 non-null object
GEN_PHONE_FL                  15223 non-null object
LOAN_NUM_TOTAL                15223 non-null int64
LOAN_NUM_CLOSED               15223 non-null int64
LOAN_NUM_PAYM                 15223 non-null int64
LOAN_DLQ_NUM                  15223 non-null int64
LOAN_MAX_DLQ                  15223 non-null int64
LOAN_AVG_DLQ_AMT              15223 non-null float64
LOAN_MAX_DLQ_AMT              15223 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    288 non-null float64
dtypes: float64(7), int64(11), object(33)
memory usage: 5.9+ MB

In [13]:
'''
начинаем работать с пропусками, пустые значения PREVIOUS_CARD_NUM_UTILIZED заменяем 0
'''
data["PREVIOUS_CARD_NUM_UTILIZED"].fillna(value=0, inplace=True)

In [14]:
# делаем импутацию пропущенных значений
'''
data['GEN_INDUSTRY'].fillna(data['GEN_INDUSTRY'].value_counts().index[0], inplace=True)
data['GEN_TITLE'].fillna(data['GEN_TITLE'].value_counts().index[0], inplace=True)
data['ORG_TP_STATE'].fillna(data['ORG_TP_STATE'].value_counts().index[0], inplace=True)
data['ORG_TP_FCAPITAL'].fillna(data['ORG_TP_FCAPITAL'].value_counts().index[0], inplace=True)
data['JOB_DIR'].fillna(data['JOB_DIR'].value_counts().index[0], inplace=True)
data['TP_PROVINCE'].fillna(data['TP_PROVINCE'].value_counts().index[0], inplace=True)

этот код громоздкий, можно сделать покомпактнее

for i in ['GEN_INDUSTRY', 'GEN_TITLE', 'ORG_TP_STATE', 'ORG_TP_FCAPITAL', 
          'JOB_DIR', 'TP_PROVINCE']:
    if i in data.columns:          
        data[i].fillna(data[i].value_counts().index[0], inplace=True)

а вот если надо пропуски в какой-то одной переменной заменить, то да, можно использовать код типа
data['GEN_INDUSTRY'].fillna(data['GEN_INDUSTRY'].value_counts().index[0], inplace=True)

или короче

data['Переменная'] = data['Переменная'].fillna('Самая часто встречающаяся категория')

но при преобразовании в тип str весь этот код, делающий импутацию модами, не нужен, импутация уже выполнена, давайте убедимся,
nan выделены в отдельную категорию, однако если используете тип object, используйте код выше
'''
data['JOB_DIR'].value_counts()

Участие в основ. деятельности    11452
nan                               1367
Вспомогательный техперсонал       1025
Бухгалтерия, финансы, планир.      481
Адм-хоз. и трансп. службы          279
Снабжение и сбыт                   217
Служба безопасности                164
Кадровая служба и секретариат      101
Пр-техн. обесп. и телеком.          75
Юридическая служба                  53
Реклама и маркетинг                  9
Name: JOB_DIR, dtype: int64

In [15]:
'''
также для лучшего понимания рекомендую делать декомпозицию кода, например, зачем для импутации модой использовать
именно конструкцию value_counts().index[0], запускаем и видим, что мы отбираем первую по индексу категорию, а первой
идет самая часто встречающаяся категория (мода)
'''
data['JOB_DIR'].value_counts().index[0]

'Участие в основ. деятельности'

In [16]:
'''
делаем импутацию средним, помним, что при импутации средним и любыми статистиками ДО разбиения на обучение и тест 
мы для вычисления среднего используем все наблюдения набора, а потом при разбиении некоторые наблюдения, импутированные 
с использованием информации всего набора, войдут у нас в контрольную выборку (выборку новых данных), 
а мы должны смоделировать наиболее близкую к реальности ситуацию, у нас есть обучающая выборка, никаких новых данных еще
нет, поэтому получается, что средние, которые мы получили при импутации на всем наборе, пришли к нам частично из "будущего"
(из новой, контрольной выборки, которой по факту еще нет), что неверно и приведет к переобучению
'''

data['WORK_TIME'].fillna(data['WORK_TIME'].mean(), 
                                    inplace=True)
'''
для проверки пропусков можно взять метод .info()
'''
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 51 columns):
TARGET                        15223 non-null object
AGE                           15223 non-null int64
SOCSTATUS_WORK_FL             15223 non-null object
SOCSTATUS_PENS_FL             15223 non-null object
GENDER                        15223 non-null object
CHILD_TOTAL                   15223 non-null int64
DEPENDANTS                    15223 non-null int64
EDUCATION                     15223 non-null object
MARITAL_STATUS                15223 non-null object
GEN_INDUSTRY                  15223 non-null object
GEN_TITLE                     15223 non-null object
ORG_TP_STATE                  15223 non-null object
ORG_TP_FCAPITAL               15223 non-null object
JOB_DIR                       15223 non-null object
FAMILY_INCOME                 15223 non-null object
PERSONAL_INCOME               15223 non-null float64
REG_ADDRESS_PROVINCE          15223 non-null object
FACT_ADDRESS_PROVINCE         15223 non-null object
POSTAL_ADDRESS_PROVINCE       15223 non-null object
TP_PROVINCE                   15223 non-null object
REGION_NM                     15223 non-null object
REG_FACT_FL                   15223 non-null object
FACT_POST_FL                  15223 non-null object
REG_POST_FL                   15223 non-null object
REG_FACT_POST_FL              15223 non-null object
REG_FACT_POST_TP_FL           15223 non-null object
FL_PRESENCE_FL                15223 non-null object
OWN_AUTO                      15223 non-null int64
AUTO_RUS_FL                   15223 non-null object
HS_PRESENCE_FL                15223 non-null object
COT_PRESENCE_FL               15223 non-null object
GAR_PRESENCE_FL               15223 non-null object
LAND_PRESENCE_FL              15223 non-null object
CREDIT                        15223 non-null float64
TERM                          15223 non-null int64
FST_PAYMENT                   15223 non-null float64
DL_DOCUMENT_FL                15223 non-null object
GPF_DOCUMENT_FL               15223 non-null object
FACT_LIVING_TERM              15223 non-null int64
WORK_TIME                     15223 non-null float64
FACT_PHONE_FL                 15223 non-null object
REG_PHONE_FL                  15223 non-null object
GEN_PHONE_FL                  15223 non-null object
LOAN_NUM_TOTAL                15223 non-null int64
LOAN_NUM_CLOSED               15223 non-null int64
LOAN_NUM_PAYM                 15223 non-null int64
LOAN_DLQ_NUM                  15223 non-null int64
LOAN_MAX_DLQ                  15223 non-null int64
LOAN_AVG_DLQ_AMT              15223 non-null float64
LOAN_MAX_DLQ_AMT              15223 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    15223 non-null float64
dtypes: float64(7), int64(11), object(33)
memory usage: 5.9+ MB

In [17]:
'''
еще одна проблема - редкие категории, они являются источниками шума, а также могут привести к разным неприятностям,
например, есть категория переменной и она встречается в 4 наблюдениях, при разбиении на обучение и тест, все наблюдения
по этой категории могут попасть в обучение, а в тесте их не будет или, наоборот, попадут в тест, а в обучении их не будет,
все это приведет к ошибкам или невозможности моделирования

выводим информацию о распределении значений категориальных переменных, используя цикл
'''
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']

for c in categorical_columns:
    print(data[c].value_counts())

0    13411
1     1812
Name: TARGET, dtype: int64
1    13847
0     1376
Name: SOCSTATUS_WORK_FL, dtype: int64
0    13176
1     2047
Name: SOCSTATUS_PENS_FL, dtype: int64
1    9964
0    5259
Name: GENDER, dtype: int64
Среднее специальное               6518
Среднее                           4679
Высшее                            3133
Неоконченное высшее                532
Неполное среднее                   340
Два и более высших образования      20
Ученая степень                       1
Name: EDUCATION, dtype: int64
Состою в браке        9416
Не состоял в браке    3622
Разведен(а)           1245
Вдовец/Вдова           588
Гражданский брак       352
Name: MARITAL_STATUS, dtype: int64
Торговля                                     2385
Другие сферы                                 1709
nan                                          1367
Металлургия/Промышленность/Машиностроение    1356
Государственная служба                       1286
Здравоохранение                              1177
Образование                                   998
Транспорт                                     787
Сельское хозяйство                            702
Строительство                                 574
Коммунальное хоз-во/Дорожные службы           533
Ресторанный бизнес/Общественное питание       408
Наука                                         403
Нефтегазовая промышленность                   225
Сборочные производства                        172
Банк/Финансы                                  169
Энергетика                                    145
Развлечения/Искусство                         141
ЧОП/Детективная д-ть                          136
Информационные услуги                         108
Салоны красоты и здоровья                      99
Информационные технологии                      85
Химия/Парфюмерия/Фармацевтика                  63
СМИ/Реклама/PR-агенства                        49
Юридические услуги/нотариальные услуги         47
Страхование                                    28
Туризм                                         20
Недвижимость                                   16
Управляющая компания                           12
Логистика                                      11
Подбор персонала                                8
Маркетинг                                       4
Name: GEN_INDUSTRY, dtype: int64
Специалист                        7010
Рабочий                           3075
nan                               1367
Служащий                           904
Руководитель среднего звена        697
Работник сферы услуг               563
Высококвалифиц. специалист         549
Руководитель высшего звена         427
Индивидуальный предприниматель     217
Другое                             177
Руководитель низшего звена         136
Военнослужащий по контракту         88
Партнер                             13
Name: GEN_TITLE, dtype: int64
Частная компания                  6523
Государственная комп./учреж.      6112
nan                               1367
Индивидуальный предприниматель     957
Некоммерческая организация         243
Частная ком. с инос. капиталом      21
Name: ORG_TP_STATE, dtype: int64
Без участия    13688
nan             1365
С участием       170
Name: ORG_TP_FCAPITAL, dtype: int64
Участие в основ. деятельности    11452
nan                               1367
Вспомогательный техперсонал       1025
Бухгалтерия, финансы, планир.      481
Адм-хоз. и трансп. службы          279
Снабжение и сбыт                   217
Служба безопасности                164
Кадровая служба и секретариат      101
Пр-техн. обесп. и телеком.          75
Юридическая служба                  53
Реклама и маркетинг                  9
Name: JOB_DIR, dtype: int64
от 10000 до 20000 руб.    7077
от 20000 до 50000 руб.    6082
от 5000 до 10000 руб.     1512
свыше 50000 руб.           492
до 5000 руб.                60
Name: FAMILY_INCOME, dtype: int64
Кемеровская область            674
Краснодарский край             674
Алтайский край                 459
Читинская область              426
Приморский край                416
Ростовская область             407
Свердловская область           349
Волгоградская область          331
Саратовская область            331
Воронежская область            301
Челябинская область            292
Вологодская область            292
Татарстан                      287
Омская область                 287
Кировская область              264
Архангельская область          257
Оренбургская область           253
Хабаровский край               252
Тульская область               252
Красноярский край              239
Самарская область              235
Башкирия                       222
Курская область                217
Белгородская область           215
Новосибирская область          214
Липецкая область               206
Иркутская область              202
Тюменская область              199
Бурятия                        196
Ярославская область            194
                              ...
Калининградская область        145
Орловская область              144
Костромская область            143
Псковская область              140
Адыгея                         137
Томская область                131
Астраханская область           131
Ленинградская область          130
Кабардино-Балкария             127
Калужская область              122
Санкт-Петербург                117
Нижегородская область          107
Новгородская область            98
Ханты-Мансийский АО             97
Карачаево-Черкесия              94
Северная Осетия                 94
Камчатская область              91
Марийская республика            81
Горный Алтай                    74
Сахалинская область             67
Еврейская АО                    67
Москва                          58
Хакасия                         54
Калмыкия                        25
Ямало-Ненецкий АО               24
Магаданская область             22
Дагестан                         4
Усть-Ордынский Бурятский АО      2
Агинский Бурятский АО            2
Эвенкийский АО                   1
Name: REG_ADDRESS_PROVINCE, Length: 81, dtype: int64
Кемеровская область            674
Краснодарский край             674
Алтайский край                 454
Читинская область              426
Приморский край                415
Ростовская область             404
Свердловская область           348
Волгоградская область          332
Саратовская область            324
Воронежская область            301
Челябинская область            292
Вологодская область            292
Татарстан                      286
Омская область                 286
Кировская область              266
Архангельская область          255
Хабаровский край               254
Оренбургская область           250
Тульская область               249
Самарская область              239
Красноярский край              237
Башкирия                       221
Новосибирская область          216
Белгородская область           214
Курская область                213
Московская область             207
Иркутская область              203
Липецкая область               202
Тюменская область              199
Ярославская область            198
                              ...
Пензенская область             144
Орловская область              141
Костромская область            141
Адыгея                         139
Санкт-Петербург                136
Псковская область              135
Томская область                134
Астраханская область           129
Кабардино-Балкария             127
Ленинградская область          119
Калужская область              119
Нижегородская область          103
Новгородская область            97
Москва                          97
Ханты-Мансийский АО             95
Карачаево-Черкесия              93
Северная Осетия                 92
Камчатская область              91
Марийская республика            77
Горный Алтай                    73
Еврейская АО                    69
Сахалинская область             67
Хакасия                         55
Ямало-Ненецкий АО               25
Калмыкия                        24
Магаданская область             22
Агинский Бурятский АО            2
Усть-Ордынский Бурятский АО      1
Эвенкийский АО                   1
Дагестан                         1
Name: FACT_ADDRESS_PROVINCE, Length: 81, dtype: int64
Краснодарский край             674
Кемеровская область            674
Алтайский край                 456
Читинская область              426
Приморский край                415
Ростовская область             404
Свердловская область           348
Волгоградская область          331
Саратовская область            326
Воронежская область            302
Вологодская область            293
Челябинская область            292
Татарстан                      287
Омская область                 286
Кировская область              266
Архангельская область          255
Хабаровский край               254
Оренбургская область           251
Тульская область               249
Красноярский край              239
Самарская область              239
Башкирия                       221
Новосибирская область          215
Курская область                214
Белгородская область           212
Липецкая область               204
Московская область             203
Иркутская область              202
Тюменская область              199
Ярославская область            197
                              ...
Калининградская область        145
Пензенская область             144
Орловская область              141
Костромская область            140
Адыгея                         139
Псковская область              139
Санкт-Петербург                133
Томская область                133
Астраханская область           130
Кабардино-Балкария             126
Калужская область              121
Ленинградская область          119
Нижегородская область          103
Новгородская область            97
Ханты-Мансийский АО             95
Карачаево-Черкесия              94
Северная Осетия                 93
Камчатская область              91
Москва                          85
Марийская республика            79
Горный Алтай                    73
Еврейская АО                    69
Сахалинская область             67
Хакасия                         54
Ямало-Ненецкий АО               24
Калмыкия                        24
Магаданская область             22
Усть-Ордынский Бурятский АО      2
Агинский Бурятский АО            2
Эвенкийский АО                   1
Name: POSTAL_ADDRESS_PROVINCE, Length: 80, dtype: int64
Краснодарский край         790
Кемеровская область        668
Алтайский край             436
Приморский край            413
Читинская область          412
Ставропольский край        411
Ростовская область         405
Челябинская область        354
Свердловская область       340
Волгоградская область      339
Кировская область          333
Саратовская область        317
Воронежская область        312
Красноярский край          295
nan                        295
Вологодская область        292
Омская область             286
Татарстан                  272
Хабаровский край           258
Санкт-Петербург            254
Оренбургская область       251
Тульская область           245
Архангельская область      243
Новосибирская область      238
Самарская область          236
Амурская область           224
Курская область            212
Бурятия                    211
Белгородская область       211
Ярославская область        208
                          ...
Пермская область           162
Чувашия                    160
Смоленская область         159
Пензенская область         154
Мурманская область         154
Башкирия                   154
Рязанская область          153
Ульяновская область        152
Ханты-Мансийский АО        152
Карелия                    150
Тюменская область          149
Калининградская область    145
Орловская область          140
Псковская область          137
Костромская область        136
Якутия                     134
Томская область            130
Астраханская область       129
Калужская область          121
Адыгея                      97
Нижегородская область       95
Новгородская область        95
Камчатская область          91
Горный Алтай                78
Марийская республика        78
Еврейская АО                68
Сахалинская область         65
Магаданская область         22
Москва                      19
Кабардино-Балкария           8
Name: TP_PROVINCE, Length: 71, dtype: int64
ЮЖНЫЙ                 2179
ЦЕНТРАЛЬНЫЙ 2         1934
ЗАПАДНО-СИБИРСКИЙ     1835
ЦЕНТРАЛЬНЫЙ 1         1653
ПОВОЛЖСКИЙ            1436
ПРИВОЛЖСКИЙ           1270
ВОСТОЧНО-СИБИРСКИЙ    1256
УРАЛЬСКИЙ             1195
ДАЛЬНЕВОСТОЧНЫЙ       1141
СЕВЕРО-ЗАПАДНЫЙ       1028
ЦЕНТРАЛЬНЫЙ ОФИС       295
nan                      1
Name: REGION_NM, dtype: int64
1    12765
0     2458
Name: REG_FACT_FL, dtype: int64
1    14480
0      743
Name: FACT_POST_FL, dtype: int64
1    13493
0     1730
Name: REG_POST_FL, dtype: int64
1    12758
0     2465
Name: REG_FACT_POST_FL, dtype: int64
1    13782
0     1441
Name: REG_FACT_POST_TP_FL, dtype: int64

0    10507
1     4716
Name: FL_PRESENCE_FL, dtype: int64
0    14097
1     1126
Name: AUTO_RUS_FL, dtype: int64
0    11940
1     3283
Name: HS_PRESENCE_FL, dtype: int64
0    15074
1      149
Name: COT_PRESENCE_FL, dtype: int64
0    14930
1      293
Name: GAR_PRESENCE_FL, dtype: int64
0    14558
1      665
Name: LAND_PRESENCE_FL, dtype: int64
0    15223
Name: DL_DOCUMENT_FL, dtype: int64
1    8961
0    6262
Name: GPF_DOCUMENT_FL, dtype: int64
1    9311
0    5912
Name: FACT_PHONE_FL, dtype: int64
0    14389
1      834
Name: REG_PHONE_FL, dtype: int64
1    13855
0     1368
Name: GEN_PHONE_FL, dtype: int64

In [18]:
data.at[data['EDUCATION'] == 'Ученая степень', 'EDUCATION'] = 'Высшее'
data.at[data['EDUCATION'] == 'Два и более высших образования', 'EDUCATION'] = 'Высшее'

data['EDUCATION'].value_counts()

Среднее специальное    6518
Среднее                4679
Высшее                 3154
Неоконченное высшее     532
Неполное среднее        340
Name: EDUCATION, dtype: int64

In [19]:
data.at[data['GEN_INDUSTRY'] == 'Салоны красоты и здоровья', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Информационные технологии', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Химия/Парфюмерия/Фармацевтика', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'СМИ/Реклама/PR-агенства', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Юридические услуги/нотариальные услуги', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Страхование', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Туризм', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Недвижимость', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Управляющая компания', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Логистика', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Подбор персонала', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Маркетинг', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'

data['GEN_INDUSTRY'].value_counts()

Торговля                                     2385
Другие сферы                                 1709
nan                                          1367
Металлургия/Промышленность/Машиностроение    1356
Государственная служба                       1286
Здравоохранение                              1177
Образование                                   998
Транспорт                                     787
Сельское хозяйство                            702
Строительство                                 574
Коммунальное хоз-во/Дорожные службы           533
УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ               442
Ресторанный бизнес/Общественное питание       408
Наука                                         403
Нефтегазовая промышленность                   225
Сборочные производства                        172
Банк/Финансы                                  169
Энергетика                                    145
Развлечения/Искусство                         141
ЧОП/Детективная д-ть                          136
Информационные услуги                         108
Name: GEN_INDUSTRY, dtype: int64

In [20]:
data.at[data['GEN_TITLE'] == 'Партнер', 'GEN_TITLE'] = 'Другое'
data['GEN_TITLE'].value_counts()

Специалист                        7010
Рабочий                           3075
nan                               1367
Служащий                           904
Руководитель среднего звена        697
Работник сферы услуг               563
Высококвалифиц. специалист         549
Руководитель высшего звена         427
Индивидуальный предприниматель     217
Другое                             190
Руководитель низшего звена         136
Военнослужащий по контракту         88
Name: GEN_TITLE, dtype: int64

In [21]:
data.at[data['ORG_TP_STATE'] == 'Частная ком. с инос. капиталом', 'ORG_TP_STATE'] = 'Частная компания'
data['ORG_TP_STATE'].value_counts()

Частная компания                  6544
Государственная комп./учреж.      6112
nan                               1367
Индивидуальный предприниматель     957
Некоммерческая организация         243
Name: ORG_TP_STATE, dtype: int64

In [22]:
data.at[data['REGION_NM'] == 'nan', 'REGION_NM'] = 'ЮЖНЫЙ'
data['REGION_NM'].value_counts()

ЮЖНЫЙ                 2180
ЦЕНТРАЛЬНЫЙ 2         1934
ЗАПАДНО-СИБИРСКИЙ     1835
ЦЕНТРАЛЬНЫЙ 1         1653
ПОВОЛЖСКИЙ            1436
ПРИВОЛЖСКИЙ           1270
ВОСТОЧНО-СИБИРСКИЙ    1256
УРАЛЬСКИЙ             1195
ДАЛЬНЕВОСТОЧНЫЙ       1141
СЕВЕРО-ЗАПАДНЫЙ       1028
ЦЕНТРАЛЬНЫЙ ОФИС       295
Name: REGION_NM, dtype: int64

In [23]:
data.at[data['JOB_DIR'] == 'Реклама и маркетинг', 'JOB_DIR'] = 'Реклама и юр. услуги'
data.at[data['JOB_DIR'] == 'Юридическая служба', 'JOB_DIR'] = 'Реклама и юр. услуги'
data['JOB_DIR'].value_counts()

Участие в основ. деятельности    11452
nan                               1367
Вспомогательный техперсонал       1025
Бухгалтерия, финансы, планир.      481
Адм-хоз. и трансп. службы          279
Снабжение и сбыт                   217
Служба безопасности                164
Кадровая служба и секретариат      101
Пр-техн. обесп. и телеком.          75
Реклама и юр. услуги                62
Name: JOB_DIR, dtype: int64

In [24]:
data.at[data['TP_PROVINCE'] == 'Кабардино-Балкария', 'TP_PROVINCE'] = 'Магаданская область'
data['TP_PROVINCE'].value_counts()

Краснодарский край         790
Кемеровская область        668
Алтайский край             436
Приморский край            413
Читинская область          412
Ставропольский край        411
Ростовская область         405
Челябинская область        354
Свердловская область       340
Волгоградская область      339
Кировская область          333
Саратовская область        317
Воронежская область        312
Красноярский край          295
nan                        295
Вологодская область        292
Омская область             286
Татарстан                  272
Хабаровский край           258
Санкт-Петербург            254
Оренбургская область       251
Тульская область           245
Архангельская область      243
Новосибирская область      238
Самарская область          236
Амурская область           224
Курская область            212
Бурятия                    211
Белгородская область       211
Ярославская область        208
                          ...
Мордовская республика      164
Пермская область           162
Чувашия                    160
Смоленская область         159
Пензенская область         154
Мурманская область         154
Башкирия                   154
Рязанская область          153
Ульяновская область        152
Ханты-Мансийский АО        152
Карелия                    150
Тюменская область          149
Калининградская область    145
Орловская область          140
Псковская область          137
Костромская область        136
Якутия                     134
Томская область            130
Астраханская область       129
Калужская область          121
Адыгея                      97
Нижегородская область       95
Новгородская область        95
Камчатская область          91
Горный Алтай                78
Марийская республика        78
Еврейская АО                68
Сахалинская область         65
Магаданская область         30
Москва                      19
Name: TP_PROVINCE, Length: 70, dtype: int64

In [25]:
data.at[data['POSTAL_ADDRESS_PROVINCE'] == 'Эвенкийский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
data.at[data['POSTAL_ADDRESS_PROVINCE'] == 'Агинский Бурятский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
data.at[data['POSTAL_ADDRESS_PROVINCE'] == 'Усть-Ордынский Бурятский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
data['POSTAL_ADDRESS_PROVINCE'].value_counts()

Кемеровская область        674
Краснодарский край         674
Алтайский край             456
Читинская область          426
Приморский край            415
Ростовская область         404
Свердловская область       348
Волгоградская область      331
Саратовская область        326
Воронежская область        302
Вологодская область        293
Челябинская область        292
Татарстан                  287
Омская область             286
Кировская область          266
Архангельская область      255
Хабаровский край           254
Оренбургская область       251
Тульская область           249
Самарская область          239
Красноярский край          239
Башкирия                   221
Новосибирская область      215
Курская область            214
Белгородская область       212
Липецкая область           204
Московская область         203
Иркутская область          202
Тюменская область          199
Ярославская область        197
                          ...
Рязанская область          154
Удмуртия                   153
Чувашия                    151
Калининградская область    145
Пензенская область         144
Орловская область          141
Костромская область        140
Адыгея                     139
Псковская область          139
Санкт-Петербург            133
Томская область            133
Астраханская область       130
Кабардино-Балкария         126
Калужская область          121
Ленинградская область      119
Нижегородская область      103
Новгородская область        97
Ханты-Мансийский АО         95
Карачаево-Черкесия          94
Северная Осетия             93
Камчатская область          91
Москва                      85
Марийская республика        79
Горный Алтай                73
Еврейская АО                69
Сахалинская область         67
Хакасия                     54
Магаданская область         27
Ямало-Ненецкий АО           24
Калмыкия                    24
Name: POSTAL_ADDRESS_PROVINCE, Length: 77, dtype: int64

In [26]:
data[categorical_columns].describe()

,TARGET,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL
count,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223
unique,2,2,2,2,5,5,21,12,5,3,10,5,81,81,77,70,11,2,2,2,2,2,2,2,2,2,2,2,1,2,2,2,2
top,0,1,0,1,Среднее специальное,Состою в браке,Торговля,Специалист,Частная компания,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,Кемеровская область,Кемеровская область,Кемеровская область,Краснодарский край,ЮЖНЫЙ,1,1,1,1,1,0,0,0,0,0,0,0,1,1,0,1
freq,13411,13847,13176,9964,6518,9416,2385,7010,6544,13688,11452,7077,674,674,674,790,2180,12765,14480,13493,12758,13782,10507,14097,11940,15074,14930,14558,15223,8961,9311,14389,13855

In [27]:
'''
из предыдущего вывода видим непорядок, переменная DL_DOCUMENT_FL имеет 1 значение, удаляем ее
'''
data.drop(['DL_DOCUMENT_FL'], axis=1, inplace=True)

In [28]:
data['REG_ADDRESS_PROVINCE'] = data['REG_ADDRESS_PROVINCE'].map(data['REG_ADDRESS_PROVINCE'].value_counts())
data['FACT_ADDRESS_PROVINCE'] = data['FACT_ADDRESS_PROVINCE'].map(data['FACT_ADDRESS_PROVINCE'].value_counts())

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 50 columns):
TARGET                        15223 non-null object
AGE                           15223 non-null int64
SOCSTATUS_WORK_FL             15223 non-null object
SOCSTATUS_PENS_FL             15223 non-null object
GENDER                        15223 non-null object
CHILD_TOTAL                   15223 non-null int64
DEPENDANTS                    15223 non-null int64
EDUCATION                     15223 non-null object
MARITAL_STATUS                15223 non-null object
GEN_INDUSTRY                  15223 non-null object
GEN_TITLE                     15223 non-null object
ORG_TP_STATE                  15223 non-null object
ORG_TP_FCAPITAL               15223 non-null object
JOB_DIR                       15223 non-null object
FAMILY_INCOME                 15223 non-null object
PERSONAL_INCOME               15223 non-null float64
REG_ADDRESS_PROVINCE          15223 non-null int64
FACT_ADDRESS_PROVINCE         15223 non-null int64
POSTAL_ADDRESS_PROVINCE       15223 non-null object
TP_PROVINCE                   15223 non-null object
REGION_NM                     15223 non-null object
REG_FACT_FL                   15223 non-null object
FACT_POST_FL                  15223 non-null object
REG_POST_FL                   15223 non-null object
REG_FACT_POST_FL              15223 non-null object
REG_FACT_POST_TP_FL           15223 non-null object
FL_PRESENCE_FL                15223 non-null object
OWN_AUTO                      15223 non-null int64
AUTO_RUS_FL                   15223 non-null object
HS_PRESENCE_FL                15223 non-null object
COT_PRESENCE_FL               15223 non-null object
GAR_PRESENCE_FL               15223 non-null object
LAND_PRESENCE_FL              15223 non-null object
CREDIT                        15223 non-null float64
TERM                          15223 non-null int64
FST_PAYMENT                   15223 non-null float64
GPF_DOCUMENT_FL               15223 non-null object
FACT_LIVING_TERM              15223 non-null int64
WORK_TIME                     15223 non-null float64
FACT_PHONE_FL                 15223 non-null object
REG_PHONE_FL                  15223 non-null object
GEN_PHONE_FL                  15223 non-null object
LOAN_NUM_TOTAL                15223 non-null int64
LOAN_NUM_CLOSED               15223 non-null int64
LOAN_NUM_PAYM                 15223 non-null int64
LOAN_DLQ_NUM                  15223 non-null int64
LOAN_MAX_DLQ                  15223 non-null int64
LOAN_AVG_DLQ_AMT              15223 non-null float64
LOAN_MAX_DLQ_AMT              15223 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    15223 non-null float64
dtypes: float64(7), int64(13), object(30)
memory usage: 5.8+ MB

In [30]:
data[numerical_columns].describe()

,AGE,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,OWN_AUTO,CREDIT,TERM,FST_PAYMENT,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
count,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000,15223.000
mean,40.406,1.099,0.645,13853.836,0.116,14667.959,8.101,3398.563,3039.340,292.212,1.388,0.752,7.876,0.195,0.130,239.457,243.022,0.019
std,11.601,0.995,0.812,9015.468,0.321,12147.873,4.094,5158.109,262455.437,23244.230,0.794,0.988,7.956,0.685,0.356,827.700,836.100,0.138
min,21.000,0.000,0.000,24.000,0.000,2000.000,3.000,0.000,-26.000,1.000,1.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000
25%,30.000,0.000,0.000,8000.000,0.000,6500.000,6.000,1000.000,41.000,24.000,1.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000
50%,39.000,1.000,0.000,12000.000,0.000,11550.000,6.000,2000.000,108.000,60.000,1.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
75%,50.000,2.000,1.000,17000.000,0.000,19170.000,10.000,4000.000,204.000,150.000,2.000,1.000,8.000,0.000,0.000,0.000,0.000,0.000
max,67.000,10.000,7.000,250000.000,2.000,119700.000,36.000,140000.000,28101997.000,2867959.000,11.000,11.000,114.000,13.000,8.000,28012.200,28012.200,2.000

In [31]:
'''
теперь применим преобразование корнем третьей степени, это улучшит логистическую регрессию,
за счет максимизации нормальности, достигаемого в результате преобразования (одно из предположений 
для применения логистической регрессии - это нормальность распределения переменных)
'''
import warnings
warnings.simplefilter('ignore')

data['CHILD_TOTALroot'] = data['CHILD_TOTAL']**(1/3)
data['PERSONAL_INCOMEroot'] = data['PERSONAL_INCOME']**(1/3)
data['TERMroot'] = data['TERM']**(1/3)
data['FST_PAYMENTroot'] = data['FST_PAYMENT']**(1/3)
data['FACT_LIVING_TERMroot'] = data['FACT_LIVING_TERM']**(1/3)
data['WORK_TIMEroot'] = data['WORK_TIME']**(1/3)
data['LOAN_NUM_TOTALroot'] = data['LOAN_NUM_TOTAL']**(1/3)
data['LOAN_NUM_CLOSEDroot'] = data['LOAN_NUM_CLOSED']**(1/3)
data['LOAN_NUM_PAYMroot'] = data['LOAN_NUM_PAYM']**(1/3)
data['LOAN_DLQ_NUMroot'] = data['LOAN_DLQ_NUM']**(1/3)

data['CHILD_TOTALroot'][data['CHILD_TOTALroot'] == np.inf] = 1
data['PERSONAL_INCOMEroot'][data['PERSONAL_INCOMEroot'] == np.inf] = 1
data['TERMroot'][data['TERMroot'] == np.inf] = 1
data['FST_PAYMENTroot'][data['FST_PAYMENTroot'] == np.inf] = 1
data['FACT_LIVING_TERMroot'][data['FACT_LIVING_TERMroot'] == np.inf] = 1
data['WORK_TIMEroot'][data['WORK_TIMEroot'] == np.inf] = 1
data['LOAN_NUM_TOTALroot'][data['LOAN_NUM_TOTALroot'] == np.inf] = 1
data['LOAN_NUM_CLOSEDroot'][data['LOAN_NUM_CLOSEDroot'] == np.inf] = 1
data['LOAN_NUM_PAYMroot'][data['LOAN_NUM_PAYMroot'] == np.inf] = 1
data['LOAN_DLQ_NUMroot'][data['LOAN_DLQ_NUMroot'] == np.inf] = 1

data.drop(['CHILD_TOTAL', 'PERSONAL_INCOME', 'TERM', 'FST_PAYMENT', 
           'FACT_LIVING_TERM', 'WORK_TIME', 'LOAN_NUM_TOTAL', 
           'LOAN_NUM_CLOSED', 'LOAN_NUM_PAYM', 'LOAN_DLQ_NUM'], axis=1, inplace=True)

data["FACT_LIVING_TERMroot"].fillna(value=0, inplace=True)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 50 columns):
TARGET                        15223 non-null object
AGE                           15223 non-null int64
SOCSTATUS_WORK_FL             15223 non-null object
SOCSTATUS_PENS_FL             15223 non-null object
GENDER                        15223 non-null object
DEPENDANTS                    15223 non-null int64
EDUCATION                     15223 non-null object
MARITAL_STATUS                15223 non-null object
GEN_INDUSTRY                  15223 non-null object
GEN_TITLE                     15223 non-null object
ORG_TP_STATE                  15223 non-null object
ORG_TP_FCAPITAL               15223 non-null object
JOB_DIR                       15223 non-null object
FAMILY_INCOME                 15223 non-null object
REG_ADDRESS_PROVINCE          15223 non-null int64
FACT_ADDRESS_PROVINCE         15223 non-null int64
POSTAL_ADDRESS_PROVINCE       15223 non-null object
TP_PROVINCE                   15223 non-null object
REGION_NM                     15223 non-null object
REG_FACT_FL                   15223 non-null object
FACT_POST_FL                  15223 non-null object
REG_POST_FL                   15223 non-null object
REG_FACT_POST_FL              15223 non-null object
REG_FACT_POST_TP_FL           15223 non-null object
FL_PRESENCE_FL                15223 non-null object
OWN_AUTO                      15223 non-null int64
AUTO_RUS_FL                   15223 non-null object
HS_PRESENCE_FL                15223 non-null object
COT_PRESENCE_FL               15223 non-null object
GAR_PRESENCE_FL               15223 non-null object
LAND_PRESENCE_FL              15223 non-null object
CREDIT                        15223 non-null float64
GPF_DOCUMENT_FL               15223 non-null object
FACT_PHONE_FL                 15223 non-null object
REG_PHONE_FL                  15223 non-null object
GEN_PHONE_FL                  15223 non-null object
LOAN_MAX_DLQ                  15223 non-null int64
LOAN_AVG_DLQ_AMT              15223 non-null float64
LOAN_MAX_DLQ_AMT              15223 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    15223 non-null float64
CHILD_TOTALroot               15223 non-null float64
PERSONAL_INCOMEroot           15223 non-null float64
TERMroot                      15223 non-null float64
FST_PAYMENTroot               15223 non-null float64
FACT_LIVING_TERMroot          15223 non-null float64
WORK_TIMEroot                 15223 non-null float64
LOAN_NUM_TOTALroot            15223 non-null float64
LOAN_NUM_CLOSEDroot           15223 non-null float64
LOAN_NUM_PAYMroot             15223 non-null float64
LOAN_DLQ_NUMroot              15223 non-null float64
dtypes: float64(14), int64(6), object(30)
memory usage: 5.8+ MB

In [33]:
# создаем дамми-переменные

print("Исходные переменные:\n", list(data.columns), "\n")
data_dummies = pd.get_dummies(data)
print("Переменные после get_dummies:\n", list(data_dummies.columns))

Исходные переменные:
 ['TARGET', 'AGE', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER', 'DEPENDANTS', 'EDUCATION', 'MARITAL_STATUS', 'GEN_INDUSTRY', 'GEN_TITLE', 'ORG_TP_STATE', 'ORG_TP_FCAPITAL', 'JOB_DIR', 'FAMILY_INCOME', 'REG_ADDRESS_PROVINCE', 'FACT_ADDRESS_PROVINCE', 'POSTAL_ADDRESS_PROVINCE', 'TP_PROVINCE', 'REGION_NM', 'REG_FACT_FL', 'FACT_POST_FL', 'REG_POST_FL', 'REG_FACT_POST_FL', 'REG_FACT_POST_TP_FL', 'FL_PRESENCE_FL', 'OWN_AUTO', 'AUTO_RUS_FL', 'HS_PRESENCE_FL', 'COT_PRESENCE_FL', 'GAR_PRESENCE_FL', 'LAND_PRESENCE_FL', 'CREDIT', 'GPF_DOCUMENT_FL', 'FACT_PHONE_FL', 'REG_PHONE_FL', 'GEN_PHONE_FL', 'LOAN_MAX_DLQ', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT', 'PREVIOUS_CARD_NUM_UTILIZED', 'CHILD_TOTALroot', 'PERSONAL_INCOMEroot', 'TERMroot', 'FST_PAYMENTroot', 'FACT_LIVING_TERMroot', 'WORK_TIMEroot', 'LOAN_NUM_TOTALroot', 'LOAN_NUM_CLOSEDroot', 'LOAN_NUM_PAYMroot', 'LOAN_DLQ_NUMroot']

Переменные после get_dummies:
 ['AGE', 'DEPENDANTS', 'REG_ADDRESS_PROVINCE', 'FACT_ADDRESS_PROVINCE', 'OWN_AUTO', 'CREDIT', 'LOAN_MAX_DLQ', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT', 'PREVIOUS_CARD_NUM_UTILIZED', 'CHILD_TOTALroot', 'PERSONAL_INCOMEroot', 'TERMroot', 'FST_PAYMENTroot', 'FACT_LIVING_TERMroot', 'WORK_TIMEroot', 'LOAN_NUM_TOTALroot', 'LOAN_NUM_CLOSEDroot', 'LOAN_NUM_PAYMroot', 'LOAN_DLQ_NUMroot', 'TARGET_0', 'TARGET_1', 'SOCSTATUS_WORK_FL_0', 'SOCSTATUS_WORK_FL_1', 'SOCSTATUS_PENS_FL_0', 'SOCSTATUS_PENS_FL_1', 'GENDER_0', 'GENDER_1', 'EDUCATION_Высшее', 'EDUCATION_Неоконченное высшее', 'EDUCATION_Неполное среднее', 'EDUCATION_Среднее', 'EDUCATION_Среднее специальное', 'MARITAL_STATUS_Вдовец/Вдова', 'MARITAL_STATUS_Гражданский брак', 'MARITAL_STATUS_Не состоял в браке', 'MARITAL_STATUS_Разведен(а)', 'MARITAL_STATUS_Состою в браке', 'GEN_INDUSTRY_nan', 'GEN_INDUSTRY_Банк/Финансы', 'GEN_INDUSTRY_Государственная служба', 'GEN_INDUSTRY_Другие сферы', 'GEN_INDUSTRY_Здравоохранение', 'GEN_INDUSTRY_Информационные услуги', 'GEN_INDUSTRY_Коммунальное хоз-во/Дорожные службы', 'GEN_INDUSTRY_Металлургия/Промышленность/Машиностроение', 'GEN_INDUSTRY_Наука', 'GEN_INDUSTRY_Нефтегазовая промышленность', 'GEN_INDUSTRY_Образование', 'GEN_INDUSTRY_Развлечения/Искусство', 'GEN_INDUSTRY_Ресторанный бизнес/Общественное питание', 'GEN_INDUSTRY_Сборочные производства', 'GEN_INDUSTRY_Сельское хозяйство', 'GEN_INDUSTRY_Строительство', 'GEN_INDUSTRY_Торговля', 'GEN_INDUSTRY_Транспорт', 'GEN_INDUSTRY_УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ', 'GEN_INDUSTRY_ЧОП/Детективная д-ть', 'GEN_INDUSTRY_Энергетика', 'GEN_TITLE_nan', 'GEN_TITLE_Военнослужащий по контракту', 'GEN_TITLE_Высококвалифиц. специалист', 'GEN_TITLE_Другое', 'GEN_TITLE_Индивидуальный предприниматель', 'GEN_TITLE_Работник сферы услуг', 'GEN_TITLE_Рабочий', 'GEN_TITLE_Руководитель высшего звена', 'GEN_TITLE_Руководитель низшего звена', 'GEN_TITLE_Руководитель среднего звена', 'GEN_TITLE_Служащий', 'GEN_TITLE_Специалист', 'ORG_TP_STATE_nan', 'ORG_TP_STATE_Государственная комп./учреж.', 'ORG_TP_STATE_Индивидуальный предприниматель', 'ORG_TP_STATE_Некоммерческая организация', 'ORG_TP_STATE_Частная компания', 'ORG_TP_FCAPITAL_nan', 'ORG_TP_FCAPITAL_Без участия', 'ORG_TP_FCAPITAL_С участием', 'JOB_DIR_nan', 'JOB_DIR_Адм-хоз. и трансп. службы', 'JOB_DIR_Бухгалтерия, финансы, планир.', 'JOB_DIR_Вспомогательный техперсонал', 'JOB_DIR_Кадровая служба и секретариат', 'JOB_DIR_Пр-техн. обесп. и телеком.', 'JOB_DIR_Реклама и юр. услуги', 'JOB_DIR_Служба безопасности', 'JOB_DIR_Снабжение и сбыт', 'JOB_DIR_Участие в основ. деятельности', 'FAMILY_INCOME_до 5000 руб.', 'FAMILY_INCOME_от 10000 до 20000 руб.', 'FAMILY_INCOME_от 20000 до 50000 руб.', 'FAMILY_INCOME_от 5000 до 10000 руб.', 'FAMILY_INCOME_свыше 50000 руб.', 'POSTAL_ADDRESS_PROVINCE_Адыгея', 'POSTAL_ADDRESS_PROVINCE_Алтайский край', 'POSTAL_ADDRESS_PROVINCE_Амурская область', 'POSTAL_ADDRESS_PROVINCE_Архангельская область', 'POSTAL_ADDRESS_PROVINCE_Астраханская область', 'POSTAL_ADDRESS_PROVINCE_Башкирия', 'POSTAL_ADDRESS_PROVINCE_Белгородская область', 'POSTAL_ADDRESS_PROVINCE_Брянская область', 'POSTAL_ADDRESS_PROVINCE_Бурятия', 'POSTAL_ADDRESS_PROVINCE_Владимирская область', 'POSTAL_ADDRESS_PROVINCE_Волгоградская область', 'POSTAL_ADDRESS_PROVINCE_Вологодская область', 'POSTAL_ADDRESS_PROVINCE_Воронежская область', 'POSTAL_ADDRESS_PROVINCE_Горный Алтай', 'POSTAL_ADDRESS_PROVINCE_Еврейская АО', 'POSTAL_ADDRESS_PROVINCE_Ивановская область', 'POSTAL_ADDRESS_PROVINCE_Иркутская область', 'POSTAL_ADDRESS_PROVINCE_Кабардино-Балкария', 'POSTAL_ADDRESS_PROVINCE_Калининградская область', 'POSTAL_ADDRESS_PROVINCE_Калмыкия', 'POSTAL_ADDRESS_PROVINCE_Калужская область', 'POSTAL_ADDRESS_PROVINCE_Камчатская область', 'POSTAL_ADDRESS_PROVINCE_Карачаево-Черкесия', 'POSTAL_ADDRESS_PROVINCE_Карелия', 'POSTAL_ADDRESS_PROVINCE_Кемеровская область', 'POSTAL_ADDRESS_PROVINCE_Кировская область', 'POSTAL_ADDRESS_PROVINCE_Коми', 'POSTAL_ADDRESS_PROVINCE_Костромская область', 'POSTAL_ADDRESS_PROVINCE_Краснодарский край', 'POSTAL_ADDRESS_PROVINCE_Красноярский край', 'POSTAL_ADDRESS_PROVINCE_Курганская область', 'POSTAL_ADDRESS_PROVINCE_Курская область', 'POSTAL_ADDRESS_PROVINCE_Ленинградская область', 'POSTAL_ADDRESS_PROVINCE_Липецкая область', 'POSTAL_ADDRESS_PROVINCE_Магаданская область', 'POSTAL_ADDRESS_PROVINCE_Марийская республика', 'POSTAL_ADDRESS_PROVINCE_Мордовская республика', 'POSTAL_ADDRESS_PROVINCE_Москва', 'POSTAL_ADDRESS_PROVINCE_Московская область', 'POSTAL_ADDRESS_PROVINCE_Мурманская область', 'POSTAL_ADDRESS_PROVINCE_Нижегородская область', 'POSTAL_ADDRESS_PROVINCE_Новгородская область', 'POSTAL_ADDRESS_PROVINCE_Новосибирская область', 'POSTAL_ADDRESS_PROVINCE_Омская область', 'POSTAL_ADDRESS_PROVINCE_Оренбургская область', 'POSTAL_ADDRESS_PROVINCE_Орловская область', 'POSTAL_ADDRESS_PROVINCE_Пензенская область', 'POSTAL_ADDRESS_PROVINCE_Пермская область', 'POSTAL_ADDRESS_PROVINCE_Приморский край', 'POSTAL_ADDRESS_PROVINCE_Псковская область', 'POSTAL_ADDRESS_PROVINCE_Ростовская область', 'POSTAL_ADDRESS_PROVINCE_Рязанская область', 'POSTAL_ADDRESS_PROVINCE_Самарская область', 'POSTAL_ADDRESS_PROVINCE_Санкт-Петербург', 'POSTAL_ADDRESS_PROVINCE_Саратовская область', 'POSTAL_ADDRESS_PROVINCE_Сахалинская область', 'POSTAL_ADDRESS_PROVINCE_Свердловская область', 'POSTAL_ADDRESS_PROVINCE_Северная Осетия', 'POSTAL_ADDRESS_PROVINCE_Смоленская область', 'POSTAL_ADDRESS_PROVINCE_Ставропольский край', 'POSTAL_ADDRESS_PROVINCE_Тамбовская область', 'POSTAL_ADDRESS_PROVINCE_Татарстан', 'POSTAL_ADDRESS_PROVINCE_Тверская область', 'POSTAL_ADDRESS_PROVINCE_Томская область', 'POSTAL_ADDRESS_PROVINCE_Тульская область', 'POSTAL_ADDRESS_PROVINCE_Тюменская область', 'POSTAL_ADDRESS_PROVINCE_Удмуртия', 'POSTAL_ADDRESS_PROVINCE_Ульяновская область', 'POSTAL_ADDRESS_PROVINCE_Хабаровский край', 'POSTAL_ADDRESS_PROVINCE_Хакасия', 'POSTAL_ADDRESS_PROVINCE_Ханты-Мансийский АО', 'POSTAL_ADDRESS_PROVINCE_Челябинская область', 'POSTAL_ADDRESS_PROVINCE_Читинская область', 'POSTAL_ADDRESS_PROVINCE_Чувашия', 'POSTAL_ADDRESS_PROVINCE_Якутия', 'POSTAL_ADDRESS_PROVINCE_Ямало-Ненецкий АО', 'POSTAL_ADDRESS_PROVINCE_Ярославская область', 'TP_PROVINCE_nan', 'TP_PROVINCE_Адыгея', 'TP_PROVINCE_Алтайский край', 'TP_PROVINCE_Амурская область', 'TP_PROVINCE_Архангельская область', 'TP_PROVINCE_Астраханская область', 'TP_PROVINCE_Башкирия', 'TP_PROVINCE_Белгородская область', 'TP_PROVINCE_Брянская область', 'TP_PROVINCE_Бурятия', 'TP_PROVINCE_Владимирская область', 'TP_PROVINCE_Волгоградская область', 'TP_PROVINCE_Вологодская область', 'TP_PROVINCE_Воронежская область', 'TP_PROVINCE_Горный Алтай', 'TP_PROVINCE_Еврейская АО', 'TP_PROVINCE_Ивановская область', 'TP_PROVINCE_Иркутская область', 'TP_PROVINCE_Калининградская область', 'TP_PROVINCE_Калужская область', 'TP_PROVINCE_Камчатская область', 'TP_PROVINCE_Карелия', 'TP_PROVINCE_Кемеровская область', 'TP_PROVINCE_Кировская область', 'TP_PROVINCE_Коми', 'TP_PROVINCE_Костромская область', 'TP_PROVINCE_Краснодарский край', 'TP_PROVINCE_Красноярский край', 'TP_PROVINCE_Курганская область', 'TP_PROVINCE_Курская область', 'TP_PROVINCE_Липецкая область', 'TP_PROVINCE_Магаданская область', 'TP_PROVINCE_Марийская республика', 'TP_PROVINCE_Мордовская республика', 'TP_PROVINCE_Москва', 'TP_PROVINCE_Мурманская область', 'TP_PROVINCE_Нижегородская область', 'TP_PROVINCE_Новгородская область', 'TP_PROVINCE_Новосибирская область', 'TP_PROVINCE_Омская область', 'TP_PROVINCE_Оренбургская область', 'TP_PROVINCE_Орловская область', 'TP_PROVINCE_Пензенская область', 'TP_PROVINCE_Пермская область', 'TP_PROVINCE_Приморский край', 'TP_PROVINCE_Псковская область', 'TP_PROVINCE_Ростовская область', 'TP_PROVINCE_Рязанская область', 'TP_PROVINCE_Самарская область', 'TP_PROVINCE_Санкт-Петербург', 'TP_PROVINCE_Саратовская область', 'TP_PROVINCE_Сахалинская область', 'TP_PROVINCE_Свердловская область', 'TP_PROVINCE_Смоленская область', 'TP_PROVINCE_Ставропольский край', 'TP_PROVINCE_Тамбовская область', 'TP_PROVINCE_Татарстан', 'TP_PROVINCE_Тверская область', 'TP_PROVINCE_Томская область', 'TP_PROVINCE_Тульская область', 'TP_PROVINCE_Тюменская область', 'TP_PROVINCE_Удмуртия', 'TP_PROVINCE_Ульяновская область', 'TP_PROVINCE_Хабаровский край', 'TP_PROVINCE_Ханты-Мансийский АО', 'TP_PROVINCE_Челябинская область', 'TP_PROVINCE_Читинская область', 'TP_PROVINCE_Чувашия', 'TP_PROVINCE_Якутия', 'TP_PROVINCE_Ярославская область', 'REGION_NM_ВОСТОЧНО-СИБИРСКИЙ', 'REGION_NM_ДАЛЬНЕВОСТОЧНЫЙ', 'REGION_NM_ЗАПАДНО-СИБИРСКИЙ', 'REGION_NM_ПОВОЛЖСКИЙ', 'REGION_NM_ПРИВОЛЖСКИЙ', 'REGION_NM_СЕВЕРО-ЗАПАДНЫЙ', 'REGION_NM_УРАЛЬСКИЙ', 'REGION_NM_ЦЕНТРАЛЬНЫЙ 1', 'REGION_NM_ЦЕНТРАЛЬНЫЙ 2', 'REGION_NM_ЦЕНТРАЛЬНЫЙ ОФИС', 'REGION_NM_ЮЖНЫЙ', 'REG_FACT_FL_0', 'REG_FACT_FL_1', 'FACT_POST_FL_0', 'FACT_POST_FL_1', 'REG_POST_FL_0', 'REG_POST_FL_1', 'REG_FACT_POST_FL_0', 'REG_FACT_POST_FL_1', 'REG_FACT_POST_TP_FL_0', 'REG_FACT_POST_TP_FL_1', 'FL_PRESENCE_FL_0', 'FL_PRESENCE_FL_1', 'AUTO_RUS_FL_0', 'AUTO_RUS_FL_1', 'HS_PRESENCE_FL_0', 'HS_PRESENCE_FL_1', 'COT_PRESENCE_FL_0', 'COT_PRESENCE_FL_1', 'GAR_PRESENCE_FL_0', 'GAR_PRESENCE_FL_1', 'LAND_PRESENCE_FL_0', 'LAND_PRESENCE_FL_1', 'GPF_DOCUMENT_FL_0', 'GPF_DOCUMENT_FL_1', 'FACT_PHONE_FL_0', 'FACT_PHONE_FL_1', 'REG_PHONE_FL_0', 'REG_PHONE_FL_1', 'GEN_PHONE_FL_0', 'GEN_PHONE_FL_1']

In [34]:
pd.set_option('display.max_columns', 50)
display(data_dummies)

,AGE,DEPENDANTS,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,OWN_AUTO,CREDIT,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED,CHILD_TOTALroot,PERSONAL_INCOMEroot,TERMroot,FST_PAYMENTroot,FACT_LIVING_TERMroot,WORK_TIMEroot,LOAN_NUM_TOTALroot,LOAN_NUM_CLOSEDroot,LOAN_NUM_PAYMroot,LOAN_DLQ_NUMroot,TARGET_0,TARGET_1,SOCSTATUS_WORK_FL_0,SOCSTATUS_WORK_FL_1,SOCSTATUS_PENS_FL_0,...,REG_POST_FL_1,REG_FACT_POST_FL_0,REG_FACT_POST_FL_1,REG_FACT_POST_TP_FL_0,REG_FACT_POST_TP_FL_1,FL_PRESENCE_FL_0,FL_PRESENCE_FL_1,AUTO_RUS_FL_0,AUTO_RUS_FL_1,HS_PRESENCE_FL_0,HS_PRESENCE_FL_1,COT_PRESENCE_FL_0,COT_PRESENCE_FL_1,GAR_PRESENCE_FL_0,GAR_PRESENCE_FL_1,LAND_PRESENCE_FL_0,LAND_PRESENCE_FL_1,GPF_DOCUMENT_FL_0,GPF_DOCUMENT_FL_1,FACT_PHONE_FL_0,FACT_PHONE_FL_1,REG_PHONE_FL_0,REG_PHONE_FL_1,GEN_PHONE_FL_0,GEN_PHONE_FL_1
0,49,1,253,250,0,8000.000,1,1580.000,1580.000,0.000,1.260,17.100,1.817,20.528,6.037,2.621,1.000,1.000,1.817,1.260,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
1,32,3,127,127,0,21650.000,1,4020.000,4020.000,0.000,1.442,22.894,1.817,15.874,5.155,4.595,1.000,1.000,1.817,1.000,1,0,0,1,1,...,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
2,52,0,202,203,0,33126.000,0,0.000,0.000,0.000,1.587,20.801,2.289,15.874,6.308,4.380,1.260,1.000,2.224,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,0,1,1,0,1,0,0,1
3,39,1,407,404,0,8491.820,1,1589.923,1590.000,0.000,1.000,29.240,1.817,17.100,3.302,5.518,1.000,1.000,1.817,1.442,1,0,0,1,1,...,0,1,0,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1
4,30,0,127,127,0,21990.000,1,1152.150,2230.000,0.000,0.000,22.894,2.289,15.874,4.362,4.657,1.260,1.000,2.520,1.260,1,0,0,1,1,...,1,0,1,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1
5,29,0,215,214,1,30615.000,0,0.000,0.000,0.000,0.000,22.894,2.289,15.183,4.762,3.420,1.260,1.000,2.224,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
6,35,1,292,292,0,10450.000,0,0.000,0.000,0.000,1.000,24.662,1.442,24.662,3.634,1.817,1.260,1.260,2.410,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
7,41,0,331,332,0,15035.000,0,0.000,0.000,0.000,0.000,18.171,2.154,7.747,5.887,1.817,1.260,1.000,2.224,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1
8,53,0,194,198,0,32914.310,0,0.000,0.000,0.000,1.260,46.416,1.587,30.752,6.109,5.383,1.000,1.000,1.442,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
9,43,0,674,674,0,4440.000,0,0.000,0.000,0.000,0.000,19.129,1.817,8.143,6.534,4.160,1.000,1.000,1.817,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
10,54,0,155,154,0,5160.000,0,0.000,0.000,0.000,1.260,26.684,1.442,8.434,6.214,4.932,1.000,1.000,1.442,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
11,26,0,252,254,0,11751.000,0,0.000,0.000,0.000,0.000,26.207,1.587,20.319,3.659,3.000,1.260,1.000,2.351,0.000,0,1,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
12,62,0,122,119,1,11160.000,0,0.000,0.000,0.000,1.442,19.129,1.442,14.078,6.868,3.634,1.000,1.000,1.442,0.000,0,1,1,0,0,...,1,0,1,0,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
13,45,1,155,154,0,5770.000,1,810.000,810.000,0.000,1.442,22.894,2.080,10.066,4.160,4.160,1.000,1.000,2.000,1.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
14,38,1,67,69,0,14513.000,0,0.000,0.000,0.000,0.000,27.144,1.710,11.350,4.465,4.932,1.260,1.000,2.289,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1
15,41,0,252,254,0,79910.000,0,0.000,0.000,0.000,0.000,39.149,1.710,27.140,1.710,5.518,1.000,1.000,1.587,0.000,0,1,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
16,65,0,239,237,0,4039.000,0,0.000,0.000,0.000,1.260,21.544,1.442,7.937,5.759,6.636,1.000,1.000,1.442,0.000,1,0,1,0,0,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0
17,29,1,349,348,0,3400.000,0,0.000,0.000,0.000,1.000,17.325,1.817,12.599,2.884,2.000,1.000,1.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0,0,1
18,34,0,91,91,0,7290.000,1,1439.940,1439.940,0.000,0.000,32.711,1.817,10.914,4.380,2.351,1.000,1.000,1.710,1.000,0,1,0,1,1,...,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
19,28,0,459,454,0,8918.000,0,0.000,0.000,0.000,0.000,24.662,1.817,10.000,3.915,3.915,1.000,1.000,1.710,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
20,37,1,206,202,0,10342.000,0,0.000,0.000,0.000,1.000,21.544,1.817,10.627,3.302,5.769,1.000,1.000,1.817,0.000,1,0,0,1,1,...,0,1,0,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1
21,42,1,215,214,0,19857.000,0,0.000,0.000,0.000,1.000,21.544,1.817,18.171,4.835,4.236,1.000,1.000,1.817,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1
22,45,2,292,292,0,13000.000,0,0.000,0.000,0.000,1.442,24.101,1.817,11.447,5.572,4.932,1.000,1.000,1.710,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
23,32,0,407,404,1,7300.000,0,0.000,0.000,0.000,0.000,21.544,1.817,14.422,2.000,4.762,1.000,1.000,1.710,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
24,33,1,137,139,0,12646.000,0,0.000,0.000,0.000,1.000,20.000,1.817,11.447,5.130,2.884,1.000,1.000,1.817,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1
25,38,1,292,292,0,14619.000,1,2742.250,2742.250,0.000,1.000,23.513,1.817,11.757,6.214,2.621,1.000,1.000,1.913,1.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
26,27,0,156,155,1,3909.000,1,1411.310,1411.310,0.000,0.000,23.208,1.442,8.837,3.302,3.915,1.000,1.000,1.442,1.000,1,0,0,1,1,...,1,1,0,0,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1
27,31,1,191,189,0,30198.000,1,5760.000,5760.000,0.000,1.000,22.894,1.817,17.917,5.463,2.466,1.000,1.000,1.817,1.260,0,1,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
28,40,1,130,119,0,3390.000,0,0.000,0.000,0.000,1.000,27.144,1.817,7.368,2.884,1.260,1.000,1.000,1.587,0.000,1,0,0,1,1,...,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
29,63,0,184,183,0,8000.000,0,0.000,0.000,0.000,0.000,17.100,1.442,17.435,5.092,6.636,1.000,1.000,1.442,0.000,1,0,1,0,0,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15193,36,1,674,674,0,18510.000,0,0.000,0.000,1.000,1.000,22.894,2.289,12.806,3.302,5.887,1.587,1.442,3.332,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1,1,0,0,1
15194,49,1,426,426,0,19883.000,0,0.000,0.000,0.000,1.442,21.544,1.817,19.129,4.448,3.302,1.260,1.000,3.708,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
15195,51,0,674,674,0,14495.350,0,0.000,0.000,0.000,1.000,21.544,1.587,17.100,4.160,7.114,1.260,1.260,2.080,0.000,1,0,0,1,0,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
15196,64,0,252,249,0,8540.000,0,0.000,0.000,0.000,0.000,20.000,1.817,0.000,7.268,6.636,1.000,0.000,1.587,0.000,1,0,1,0,0,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0
15197,61,0,188,188,0,8730.000,0,0.000,0.000,0.000,0.000,22.240,1.817,0.000,7.192,6.636,1.000,0.000,1.587,0.000,1,0,1,0,0,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0
15198,49,0,331,332,0,12999.000,0,0.000,0.000,0.000,0.000,19.129,2.289,17.100,4.932,4.160,1.260,0.000,2.080,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
15199,28,1,194,198,0,17090.000,0,0.000,0.000,1.000,1.000,21.544,2.154,12.386,6.316,2.621,1.260,1.000,2.520,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
15200,34,2,215,214,0,3540.000,1,586.647,605.590,0.000,1.260,20.000,1.817,8.662,6.000,3.302,1.260,1.000,2.224,1.442,0,1,0,1,1,...,1,0,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15201,56,0,180,180,0,15160.000,0,0.000,0.000,0.000,1.260,29.240,2.000,20.000,6.109,4.380,1.000,0.000,1.442,0.000,1,0,0,1,0,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1
15202,34,1,349,348,0,26337.600,0,0.000,0.000,0.000,1.000,21.544,2.289,14.304,5.646,1.913,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15203,40,2,191,189,0,11990.000,0,0.000,0.000,0.000,1.260,22.894,1.817,0.000,3.141,2.000,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15204,43,0,287,286,0,5130.000,0,0.000,0.000,0.000,0.000,19.129,2.289,10.000,6.717,3.000,1.000,0.000,1.442,0.000,0,1,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15205,33,2,674,674,0,24466.000,0,0.000,0.000,0.000,1.260,22.894,1.817,18.171,5.241,5.429,1.000,0.000,1.442,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
15206,56,0,185,183,0,3849.000,0,0.000,0.000,0.000,0.000,24.385,1.817,8.434,7.205,7.268,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
15207,25,0,674,674,0,13090.000,0,0.000,0.000,0.000,0.000,22.894,1.817,11.447,1.587,2.884,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15208,37,1,81,77,0,4499.000,0,0.000,0.000,0.000,1.000,20.000,1.817,7.937,5.646,3.915,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
15209,48,0,122,119,0,3424.000,0,0.000,0.000,0.000,0.000,19.129,1.442,11.447,6.604,1.817,1.000,0.000,1.442,0.000,0,1,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
15210,30,2,674,674,0,10737.000,0,0.000,0.000,0.000,1.260,21.544,2.289,10.627,3.915,2.289,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1
15211,35,1,140,135,0,17500.000,0,0.000,0.000,0.000,1.000,21.544,2.289,25.962,3.634,3.634,1.000,1.000,1.442,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15212,55,2,137,139,1,7050.000,0,0.000,0.000,0.000,1.000,21.544,1.817,10.792,6.214,5.887,1.442,1.260,2.154,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
15213,36,0,202,203,0,28230.000,0,0.000,0.000,0.000,0.000,24.662,2.154,14.659,4.160,3.634,1.000,0.000,1.442,0.000,0,1,0,1,1,...,0,1,0,0,1,1,0,1,0,0,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1
15214,31,1,215,214,0,7920.000,0,0.000,0.000,0.000,1.000,20.083,1.817,9.583,5.383,4.579,1.442,1.000,2.802,0.000,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15215,35,1,164,153,1,18426.000,0,0.000,0.000,0.000,1.000,21.179,2.289,12.703,4.932,4.932,1.000,0.000,1.587,0.000,1,0,0,1,1,...,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15216,61,0,239,237,1,17254.000,1,3300.000,3300.000,0.000,0.000,23.513,1.817,12.599,4.380,5.092,1.260,1.000,2.154,1.000,1,0,0,1,1,...,1,0,1,0,1,1,0,0,1,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,1
15217,39,1,167,170,0,22930.000,0,0.000,0.000,0.000,1.000,21.544,1.817,13.662,5.383,4.762,1.000,0.000,1.587,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
15218,25,1,301,301,0,13450.000,0,0.000,0.000,0.000,1.000,22.894,2.154,11.447,4.946,3.634,1.442,1.260,2.759,0.000,1,0,0,1,1,...,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
15219,51,0,222,221,0,8991.000,0,0.000,0.000,0.000,1.260,21.544,1.817,15.874,6.694,5.383,1.000,0.000,1.442,0.000,1,0,0,1,1,...,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
15220,22,1,177,174,0,2700.000,0,0.000,0.000,0.000,1.000,18.171,1.817,9.283,3.634,3.634,1.000,0.000,1.710,0.000,1,0,0,1,1,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
15221,60,0,416,415,0,24357.000,0,0.000,0.000,0.000,1.260,16.510,2.154,26.173,6.463,6.636,1.000,0.000,1.442,0.000,1,0,1,0,0,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0
15222,37,0,94,93,0,10245.000,0,0.000,0.000,0.000,1.260,27.144,1.817,10.627,7.560,3.302,1.000,0.000,1.442,0.000,1,0,0,1,1,...,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1

In [35]:
'''
формируем массив меток, зависимая переменная у нас - TARGET, 
представленная в виде двух дамми-переменных TARGET_0 и TARGERT_1
а не ORG_TP_FCAPITAL
код y = data_dummies.loc[:, 'ORG_TP_FCAPITAL'] неправилен
'''
y = data_dummies.loc[:, 'TARGET_1'] # еще можно было так y=data_dummies.filter(items=['TARGET_1'])

In [36]:
data_dummies.drop(['TARGET_0', 'TARGET_1'], axis=1, inplace=True)
X = data_dummies.loc[:, 'AGE':'GEN_PHONE_FL_1']

In [37]:
# Импортируем из модуля sklearn.model_selection функцию train_test_split
from sklearn.model_selection import train_test_split
# Выполняем разбиение на обучение и контроль
X_train, X_control, y_train, y_control = train_test_split(X, y, test_size=0.3, random_state=42)

In [38]:
X_train.head()

,AGE,DEPENDANTS,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,OWN_AUTO,CREDIT,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED,CHILD_TOTALroot,PERSONAL_INCOMEroot,TERMroot,FST_PAYMENTroot,FACT_LIVING_TERMroot,WORK_TIMEroot,LOAN_NUM_TOTALroot,LOAN_NUM_CLOSEDroot,LOAN_NUM_PAYMroot,LOAN_DLQ_NUMroot,SOCSTATUS_WORK_FL_0,SOCSTATUS_WORK_FL_1,SOCSTATUS_PENS_FL_0,SOCSTATUS_PENS_FL_1,GENDER_0,...,REG_POST_FL_1,REG_FACT_POST_FL_0,REG_FACT_POST_FL_1,REG_FACT_POST_TP_FL_0,REG_FACT_POST_TP_FL_1,FL_PRESENCE_FL_0,FL_PRESENCE_FL_1,AUTO_RUS_FL_0,AUTO_RUS_FL_1,HS_PRESENCE_FL_0,HS_PRESENCE_FL_1,COT_PRESENCE_FL_0,COT_PRESENCE_FL_1,GAR_PRESENCE_FL_0,GAR_PRESENCE_FL_1,LAND_PRESENCE_FL_0,LAND_PRESENCE_FL_1,GPF_DOCUMENT_FL_0,GPF_DOCUMENT_FL_1,FACT_PHONE_FL_0,FACT_PHONE_FL_1,REG_PHONE_FL_0,REG_PHONE_FL_1,GEN_PHONE_FL_0,GEN_PHONE_FL_1
51,37,1,292,292,1,7581.000,0,0.000,0.000,0.000,1.000,21.544,1.817,11.019,2.154,2.410,1.000,1.000,1.710,0.000,0,1,1,0,1,...,1,1,0,0,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
4750,23,0,407,404,0,11850.000,0,0.000,0.000,0.000,0.000,22.240,2.154,11.447,3.302,1.817,1.000,0.000,1.587,0.000,0,1,1,0,1,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
2304,40,1,331,324,0,41132.000,0,0.000,0.000,0.000,1.000,24.662,2.289,17.100,3.420,2.884,1.000,0.000,1.710,0.000,0,1,1,0,0,...,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
13811,43,1,130,119,0,15599.000,0,0.000,0.000,0.000,1.000,29.240,2.154,12.164,6.000,4.932,1.000,0.000,1.710,0.000,0,1,1,0,1,...,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
7717,56,1,459,454,0,8536.000,0,0.000,0.000,0.000,1.913,16.510,1.817,9.827,4.762,6.636,1.000,0.000,1.587,0.000,1,0,0,1,0,...,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0,1,0

In [39]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=152)
from sklearn.metrics import roc_auc_score
tree.fit(X_train, y_train)
print("AUC на обучающей выборке: {:.3f}".format(roc_auc_score(y_train, tree.predict_proba(X_train)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".format(roc_auc_score(y_control, tree.predict_proba(X_control)[:, 1])))

AUC на обучающей выборке: 1.000
AUC на контрольной выборке: 0.532

In [40]:
'''
улучшим дерево, выполнив обрезку
'''
tree2 = DecisionTreeClassifier(random_state=152,max_depth=6, min_samples_leaf=22)
tree2.fit(X_train, y_train)
print("AUC на обучающей выборке: {:.3f}".format(roc_auc_score(y_train, tree2.predict_proba(X_train)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".format(roc_auc_score(y_control, tree2.predict_proba(X_control)[:, 1])))

AUC на обучающей выборке: 0.696
AUC на контрольной выборке: 0.647

In [41]:
'''
чтобы избежать предупреждения RuntimeWarning: overflow encountered in exp np.exp(prob, prob)
воспользуемся settings = np.seterr(all='ignore'), а чтобы предупреждение о переполнении не возникало,
делаем нормализацию данных
'''
settings = np.seterr(all='ignore')
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression().fit(X_train, y_train)
print("AUC на обучающей выборке: {:.3f}".format(roc_auc_score(y_train, logreg.predict_proba(X_train)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".format(roc_auc_score(y_control, logreg.predict_proba(X_control)[:, 1])))

AUC на обучающей выборке: 0.689
AUC на контрольной выборке: 0.692

In [42]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=500, random_state=152, n_jobs=-1)
forest.fit(X_train, y_train)
print("AUC на обучающей выборке: {:.3f}".format(roc_auc_score(y_train, forest.predict_proba(X_train)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".format(roc_auc_score(y_control, forest.predict_proba(X_control)[:, 1])))

AUC на обучающей выборке: 1.000
AUC на контрольной выборке: 0.673

In [43]:
from sklearn.ensemble import RandomForestClassifier
forest2 = RandomForestClassifier(n_estimators=500, max_depth=12, random_state=152, n_jobs=-1)
forest2.fit(X_train, y_train)
print("AUC на обучающей выборке: {:.3f}".format(roc_auc_score(y_train, forest2.predict_proba(X_train)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".format(roc_auc_score(y_control, forest2.predict_proba(X_control)[:, 1])))

AUC на обучающей выборке: 0.974
AUC на контрольной выборке: 0.691

# Построение модели на всей исторической выборке без разбиения на обучение и контроль с использованием найденных оптимальных преобразований, полезных признаков

In [44]:
'''
найдя оптимальные параметры, оптимальные преобразования переменных, подгоняем модель на всем наборе 
без разделения на обучение и контроль 
'''
data = pd.read_csv("C:/Trees/Credit_OTP.csv", encoding='cp1251', sep = ';')
data.drop(['AGREEMENT_RK'], axis=1, inplace=True)

for i in ['TARGET', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER', 
          'EDUCATION', 'MARITAL_STATUS', 'GEN_INDUSTRY', 'GEN_TITLE',
          'ORG_TP_STATE', 'ORG_TP_FCAPITAL', 'JOB_DIR', 'REG_ADDRESS_PROVINCE',
          'FACT_ADDRESS_PROVINCE', 'POSTAL_ADDRESS_PROVINCE', 'TP_PROVINCE', 'REGION_NM',
          'REG_FACT_FL', 'FACT_POST_FL', 'REG_POST_FL', 'REG_FACT_POST_FL', 
          'REG_FACT_POST_TP_FL', 'FL_PRESENCE_FL', 'AUTO_RUS_FL', 'HS_PRESENCE_FL',
          'COT_PRESENCE_FL', 'GAR_PRESENCE_FL', 'LAND_PRESENCE_FL', 'DL_DOCUMENT_FL',
          'GPF_DOCUMENT_FL', 'FACT_PHONE_FL', 'REG_PHONE_FL', 'GEN_PHONE_FL']:
    if i in data.columns:
        data[i]=data[i].astype('str')
        
for i in ['PERSONAL_INCOME', 'CREDIT', 'FST_PAYMENT', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT']:
    if i in data.columns:
        data[i] = data[i].str.replace(',', '.').astype('float')

data["PREVIOUS_CARD_NUM_UTILIZED"].fillna(value=0, inplace=True)

data['WORK_TIME'].fillna(data['WORK_TIME'].mean(), inplace=True)

data.at[data['EDUCATION'] == 'Ученая степень', 'EDUCATION'] = 'Высшее'
data.at[data['EDUCATION'] == 'Два и более высших образования', 'EDUCATION'] = 'Высшее'

data.at[data['GEN_INDUSTRY'] == 'Салоны красоты и здоровья', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Информационные технологии', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Химия/Парфюмерия/Фармацевтика', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'СМИ/Реклама/PR-агенства', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Юридические услуги/нотариальные услуги', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Страхование', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Туризм', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Недвижимость', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Управляющая компания', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Логистика', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Подбор персонала', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
data.at[data['GEN_INDUSTRY'] == 'Маркетинг', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'

data.at[data['GEN_TITLE'] == 'Партнер', 'GEN_TITLE'] = 'Другое'

data.at[data['ORG_TP_STATE'] == 'Частная ком. с инос. капиталом', 'ORG_TP_STATE'] = 'Частная компания'

data.at[data['REGION_NM'] == 'nan', 'REGION_NM'] = 'ЮЖНЫЙ'

data.at[data['JOB_DIR'] == 'Реклама и маркетинг', 'JOB_DIR'] = 'Реклама и юр. услуги'
data.at[data['JOB_DIR'] == 'Юридическая служба', 'JOB_DIR'] = 'Реклама и юр. услуги'

data.at[data['TP_PROVINCE'] == 'Кабардино-Балкария', 'TP_PROVINCE'] = 'Магаданская область'

data.at[data['POSTAL_ADDRESS_PROVINCE'] == 'Эвенкийский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
data.at[data['POSTAL_ADDRESS_PROVINCE'] == 'Агинский Бурятский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
data.at[data['POSTAL_ADDRESS_PROVINCE'] == 'Усть-Ордынский Бурятский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'

data.drop(['DL_DOCUMENT_FL'], axis=1, inplace=True)

data['REG_ADDRESS_PROVINCE'] = data['REG_ADDRESS_PROVINCE'].map(data['REG_ADDRESS_PROVINCE'].value_counts())
data['FACT_ADDRESS_PROVINCE'] = data['FACT_ADDRESS_PROVINCE'].map(data['FACT_ADDRESS_PROVINCE'].value_counts())

data['CHILD_TOTALroot'] = data['CHILD_TOTAL']**(1/3)
data['PERSONAL_INCOMEroot'] = data['PERSONAL_INCOME']**(1/3)
data['TERMroot'] = data['TERM']**(1/3)
data['FST_PAYMENTroot'] = data['FST_PAYMENT']**(1/3)
data['FACT_LIVING_TERMroot'] = data['FACT_LIVING_TERM']**(1/3)
data['WORK_TIMEroot'] = data['WORK_TIME']**(1/3)
data['LOAN_NUM_TOTALroot'] = data['LOAN_NUM_TOTAL']**(1/3)
data['LOAN_NUM_CLOSEDroot'] = data['LOAN_NUM_CLOSED']**(1/3)
data['LOAN_NUM_PAYMroot'] = data['LOAN_NUM_PAYM']**(1/3)
data['LOAN_DLQ_NUMroot'] = data['LOAN_DLQ_NUM']**(1/3)

data['CHILD_TOTALroot'][data['CHILD_TOTALroot'] == np.inf] = 1
data['PERSONAL_INCOMEroot'][data['PERSONAL_INCOMEroot'] == np.inf] = 1
data['TERMroot'][data['TERMroot'] == np.inf] = 1
data['FST_PAYMENTroot'][data['FST_PAYMENTroot'] == np.inf] = 1
data['FACT_LIVING_TERMroot'][data['FACT_LIVING_TERMroot'] == np.inf] = 1
data['WORK_TIMEroot'][data['WORK_TIMEroot'] == np.inf] = 1
data['LOAN_NUM_TOTALroot'][data['LOAN_NUM_TOTALroot'] == np.inf] = 1
data['LOAN_NUM_CLOSEDroot'][data['LOAN_NUM_CLOSEDroot'] == np.inf] = 1
data['LOAN_NUM_PAYMroot'][data['LOAN_NUM_PAYMroot'] == np.inf] = 1
data['LOAN_DLQ_NUMroot'][data['LOAN_DLQ_NUMroot'] == np.inf] = 1

data.drop(['CHILD_TOTAL', 'PERSONAL_INCOME', 'TERM', 'FST_PAYMENT', 
           'FACT_LIVING_TERM', 'WORK_TIME', 'LOAN_NUM_TOTAL', 
           'LOAN_NUM_CLOSED', 'LOAN_NUM_PAYM', 'LOAN_DLQ_NUM'], axis=1, inplace=True)

data["FACT_LIVING_TERMroot"].fillna(value=0, inplace=True)

data_dummies = pd.get_dummies(data)

y = data_dummies.loc[:, 'TARGET_1']
data_dummies.drop(['TARGET_0', 'TARGET_1'], axis=1, inplace=True)
X = data_dummies.loc[:, 'AGE':'GEN_PHONE_FL_1']
logreg_fullset = LogisticRegression().fit(X, y)
forest_fullset = RandomForestClassifier(n_estimators=500, max_depth=12, random_state=152, n_jobs=-1).fit(X, y)

# Применение модели, построенной на всей исторической выборке, к новым данным

In [45]:
pd.set_option('display.max_columns', 60)
newdata = pd.read_csv("C:/Trees/Credit_OTP_new.csv", encoding='cp1251', sep = ';')
newdata.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,75286343,1,39,1,0,1,1,1,Среднее специальное,Состою в браке,Металлургия/Промышленность/Машиностроение,Рабочий,Частная компания,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,15000,Челябинская область,Челябинская область,Челябинская область,Челябинская область,УРАЛЬСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,11980,12,0,0,1,132,120,0,0,1,1,0,3,0,0,0,0,nan
1,62806593,0,48,0,1,1,1,1,Среднее,Не состоял в браке,Пропуск,Пропуск,Пропуск,Пропуск,Пропуск,от 10000 до 20000 руб.,12000,Свердловская область,Свердловская область,Свердловская область,Свердловская область,УРАЛЬСКИЙ,1,1,1,1,1,1,0,0,0,0,0,0,5472,6,608,0,0,132,83,0,0,0,1,0,4,1,1,1050,1050,nan
2,66841260,0,36,1,0,1,0,2,Среднее,Состою в браке,Ресторанный бизнес/Общественное питание,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,7000,Краснодарский край,Краснодарский край,Краснодарский край,Краснодарский край,ЮЖНЫЙ,1,1,1,1,1,0,0,0,0,0,0,0,17990,6,5000,0,1,132,48,1,0,1,4,4,36,0,0,0,0,nan
3,60086225,0,38,1,0,0,1,0,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 20000 до 50000 руб.,20000,Архангельская область,Архангельская область,Архангельская область,Архангельская область,СЕВЕРО-ЗАПАДНЫЙ,1,1,1,1,1,1,1,0,0,0,0,0,7190,9,1800,0,0,132,143,1,0,1,1,0,6,0,0,0,0,nan
4,74187778,0,58,0,1,1,1,0,Среднее,Состою в браке,Пропуск,Пропуск,Пропуск,Пропуск,Пропуск,от 20000 до 50000 руб.,5750,Воронежская область,Воронежская область,Воронежская область,Воронежская область,ЦЕНТРАЛЬНЫЙ 2,1,1,1,1,1,1,1,1,0,0,0,0,13590,10,2000,0,0,132,83,1,0,0,1,1,10,0,0,0,0,nan

In [46]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14910 entries, 0 to 14909
Data columns (total 52 columns):
AGREEMENT_RK                  14910 non-null int64
TARGET                        14910 non-null int64
AGE                           14910 non-null int64
SOCSTATUS_WORK_FL             14910 non-null int64
SOCSTATUS_PENS_FL             14910 non-null int64
GENDER                        14910 non-null int64
CHILD_TOTAL                   14910 non-null int64
DEPENDANTS                    14910 non-null int64
EDUCATION                     14910 non-null object
MARITAL_STATUS                14910 non-null object
GEN_INDUSTRY                  14910 non-null object
GEN_TITLE                     14910 non-null object
ORG_TP_STATE                  14910 non-null object
ORG_TP_FCAPITAL               14910 non-null object
JOB_DIR                       14910 non-null object
FAMILY_INCOME                 14910 non-null object
PERSONAL_INCOME               14910 non-null object
REG_ADDRESS_PROVINCE          14910 non-null object
FACT_ADDRESS_PROVINCE         14910 non-null object
POSTAL_ADDRESS_PROVINCE       14910 non-null object
TP_PROVINCE                   14910 non-null object
REGION_NM                     14910 non-null object
REG_FACT_FL                   14910 non-null int64
FACT_POST_FL                  14910 non-null int64
REG_POST_FL                   14910 non-null int64
REG_FACT_POST_FL              14910 non-null int64
REG_FACT_POST_TP_FL           14910 non-null int64
FL_PRESENCE_FL                14910 non-null int64
OWN_AUTO                      14910 non-null int64
AUTO_RUS_FL                   14910 non-null int64
HS_PRESENCE_FL                14910 non-null int64
COT_PRESENCE_FL               14910 non-null int64
GAR_PRESENCE_FL               14910 non-null int64
LAND_PRESENCE_FL              14910 non-null int64
CREDIT                        14910 non-null object
TERM                          14910 non-null int64
FST_PAYMENT                   14910 non-null object
DL_DOCUMENT_FL                14910 non-null int64
GPF_DOCUMENT_FL               14910 non-null int64
FACT_LIVING_TERM              14910 non-null int64
WORK_TIME                     14910 non-null int64
FACT_PHONE_FL                 14910 non-null int64
REG_PHONE_FL                  14910 non-null int64
GEN_PHONE_FL                  14910 non-null int64
LOAN_NUM_TOTAL                14910 non-null int64
LOAN_NUM_CLOSED               14910 non-null int64
LOAN_NUM_PAYM                 14910 non-null int64
LOAN_DLQ_NUM                  14910 non-null int64
LOAN_MAX_DLQ                  14910 non-null int64
LOAN_AVG_DLQ_AMT              14910 non-null object
LOAN_MAX_DLQ_AMT              14910 non-null object
PREVIOUS_CARD_NUM_UTILIZED    312 non-null float64
dtypes: float64(1), int64(33), object(18)
memory usage: 5.9+ MB

In [47]:
newdata.drop(['AGREEMENT_RK', 'DL_DOCUMENT_FL'], axis=1, inplace=True)

In [48]:
for i in ['TARGET', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER', 
          'EDUCATION', 'MARITAL_STATUS', 'GEN_INDUSTRY', 'GEN_TITLE',
          'ORG_TP_STATE', 'ORG_TP_FCAPITAL', 'JOB_DIR', 'REG_ADDRESS_PROVINCE',
          'FACT_ADDRESS_PROVINCE', 'POSTAL_ADDRESS_PROVINCE', 'TP_PROVINCE', 'REGION_NM',
          'REG_FACT_FL', 'FACT_POST_FL', 'REG_POST_FL', 'REG_FACT_POST_FL', 
          'REG_FACT_POST_TP_FL', 'FL_PRESENCE_FL', 'AUTO_RUS_FL', 'HS_PRESENCE_FL',
          'COT_PRESENCE_FL', 'GAR_PRESENCE_FL', 'LAND_PRESENCE_FL', 'GPF_DOCUMENT_FL', 
          'FACT_PHONE_FL', 'REG_PHONE_FL', 'GEN_PHONE_FL']:
    if i in newdata.columns:
        newdata[i]=newdata[i].astype('str')

In [49]:
for i in ['PERSONAL_INCOME', 'CREDIT', 'FST_PAYMENT', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT']:
    if i in newdata.columns:
        newdata[i] = newdata[i].str.replace(',', '.').astype('float')

In [50]:
newdata['PREVIOUS_CARD_NUM_UTILIZED'].fillna(value=0, inplace=True)
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14910 entries, 0 to 14909
Data columns (total 50 columns):
TARGET                        14910 non-null object
AGE                           14910 non-null int64
SOCSTATUS_WORK_FL             14910 non-null object
SOCSTATUS_PENS_FL             14910 non-null object
GENDER                        14910 non-null object
CHILD_TOTAL                   14910 non-null int64
DEPENDANTS                    14910 non-null int64
EDUCATION                     14910 non-null object
MARITAL_STATUS                14910 non-null object
GEN_INDUSTRY                  14910 non-null object
GEN_TITLE                     14910 non-null object
ORG_TP_STATE                  14910 non-null object
ORG_TP_FCAPITAL               14910 non-null object
JOB_DIR                       14910 non-null object
FAMILY_INCOME                 14910 non-null object
PERSONAL_INCOME               14910 non-null float64
REG_ADDRESS_PROVINCE          14910 non-null object
FACT_ADDRESS_PROVINCE         14910 non-null object
POSTAL_ADDRESS_PROVINCE       14910 non-null object
TP_PROVINCE                   14910 non-null object
REGION_NM                     14910 non-null object
REG_FACT_FL                   14910 non-null object
FACT_POST_FL                  14910 non-null object
REG_POST_FL                   14910 non-null object
REG_FACT_POST_FL              14910 non-null object
REG_FACT_POST_TP_FL           14910 non-null object
FL_PRESENCE_FL                14910 non-null object
OWN_AUTO                      14910 non-null int64
AUTO_RUS_FL                   14910 non-null object
HS_PRESENCE_FL                14910 non-null object
COT_PRESENCE_FL               14910 non-null object
GAR_PRESENCE_FL               14910 non-null object
LAND_PRESENCE_FL              14910 non-null object
CREDIT                        14910 non-null float64
TERM                          14910 non-null int64
FST_PAYMENT                   14910 non-null float64
GPF_DOCUMENT_FL               14910 non-null object
FACT_LIVING_TERM              14910 non-null int64
WORK_TIME                     14910 non-null int64
FACT_PHONE_FL                 14910 non-null object
REG_PHONE_FL                  14910 non-null object
GEN_PHONE_FL                  14910 non-null object
LOAN_NUM_TOTAL                14910 non-null int64
LOAN_NUM_CLOSED               14910 non-null int64
LOAN_NUM_PAYM                 14910 non-null int64
LOAN_DLQ_NUM                  14910 non-null int64
LOAN_MAX_DLQ                  14910 non-null int64
LOAN_AVG_DLQ_AMT              14910 non-null float64
LOAN_MAX_DLQ_AMT              14910 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    14910 non-null float64
dtypes: float64(6), int64(12), object(32)
memory usage: 5.7+ MB

In [51]:
categorical_columns = [c for c in newdata.columns if newdata[c].dtype.name == 'object']
numerical_columns   = [c for c in newdata.columns if newdata[c].dtype.name != 'object']

for c in categorical_columns:
    print(newdata[c].value_counts())

0    13160
1     1750
Name: TARGET, dtype: int64
1    13548
0     1362
Name: SOCSTATUS_WORK_FL, dtype: int64
0    12935
1     1975
Name: SOCSTATUS_PENS_FL, dtype: int64
1    9782
0    5128
Name: GENDER, dtype: int64
Среднее специальное            6351
Среднее                        4576
Высшее или несколько высших    3131
Неоконченное высшее             521
Неполное среднее                331
Name: EDUCATION, dtype: int64
Состою в браке        9049
Не состоял в браке    3600
Разведен(а)           1321
Вдовец/Вдова           594
Гражданский брак       346
Name: MARITAL_STATUS, dtype: int64
Торговля                                     2322
Другие сферы                                 1647
Металлургия/Промышленность/Машиностроение    1351
Пропуск                                      1346
Государственная служба                       1240
Здравоохранение                              1159
Образование                                  1028
Транспорт                                     780
Сельское хозяйство                            685
Строительство                                 605
Коммунальное хоз-во/Дорожные службы           497
Наука                                         380
Ресторанный бизнес/Общественное питание       326
Нефтегазовая промышленность                   205
Сборочные производства                        174
ЧОП/Детективная д-ть                          158
Банк/Финансы                                  157
Развлечения/Искусство                         140
Энергетика                                    126
Салоны красоты и здоровья                     119
Информационные технологии                     109
Информационные услуги                          90
Химия/Парфюмерия/Фармацевтика                  48
СМИ/Реклама/PR-агенства                        47
Юридические услуги/нотариальные услуги         45
Страхование                                    31
Недвижимость                                   30
Туризм                                         23
Управляющая компания                           21
Логистика                                      11
Подбор персонала                                7
Маркетинг                                       3
Name: GEN_INDUSTRY, dtype: int64
Специалист                        6971
Рабочий                           2950
Пропуск                           1346
Служащий                           839
Руководитель среднего звена        699
Работник сферы услуг               555
Высококвалифиц. специалист         533
Руководитель высшего звена         414
Индивидуальный предприниматель     219
Другое                             178
Руководитель низшего звена         132
Военнослужащий по контракту         70
Партнер                              4
Name: GEN_TITLE, dtype: int64
Частная компания                  6373
Государственная комп./учреж.      6040
Пропуск                           1346
Индивидуальный предприниматель     925
Некоммерческая организация         202
Частная ком. с инос. капиталом      24
Name: ORG_TP_STATE, dtype: int64
Без участия    13411
Пропуск         1343
С участием       156
Name: ORG_TP_FCAPITAL, dtype: int64
Участие в основ. деятельности    11161
Пропуск                           1346
Вспомогательный техперсонал       1066
Бухгалтерия, финансы, планир.      476
Адм-хоз. и трансп. службы          260
Снабжение и сбыт                   216
Служба безопасности                154
Кадровая служба и секретариат      100
Пр-техн. обесп. и телеком.          70
Юридическая служба                  48
Реклама и маркетинг                 13
Name: JOB_DIR, dtype: int64
от 10000 до 20000 руб.    6922
от 20000 до 50000 руб.    5902
от 5000 до 10000 руб.     1555
свыше 50000 руб.           483
до 5000 руб.                48
Name: FAMILY_INCOME, dtype: int64
Краснодарский край             633
Кемеровская область            622
Алтайский край                 436
Читинская область              418
Ростовская область             377
Приморский край                371
Свердловская область           352
Вологодская область            335
Саратовская область            324
Челябинская область            299
Волгоградская область          283
Кировская область              281
Воронежская область            267
Татарстан                      266
Тульская область               265
Омская область                 261
Оренбургская область           256
Башкирия                       238
Самарская область              236
Архангельская область          235
Хабаровский край               227
Красноярский край              224
Новосибирская область          221
Иркутская область              218
Тюменская область              211
Белгородская область           210
Ставропольский край            208
Курская область                206
Тверская область               203
Брянская область               191
                              ...
Смоленская область             144
Адыгея                         138
Карелия                        137
Орловская область              136
Ленинградская область          135
Мурманская область             134
Астраханская область           132
Ханты-Мансийский АО            128
Калужская область              124
Кабардино-Балкария             119
Нижегородская область          118
Костромская область            115
Санкт-Петербург                 98
Новгородская область            91
Карачаево-Черкесия              87
Северная Осетия                 85
Камчатская область              84
Марийская республика            83
Еврейская АО                    75
Горный Алтай                    71
Сахалинская область             71
Москва                          56
Хакасия                         52
Магаданская область             29
Ямало-Ненецкий АО               25
Калмыкия                        25
Дагестан                         5
Усть-Ордынский Бурятский АО      2
Агинский Бурятский АО            2
Коми-Пермяцкий АО                1
Name: REG_ADDRESS_PROVINCE, Length: 81, dtype: int64
Краснодарский край             639
Кемеровская область            622
Алтайский край                 433
Читинская область              419
Ростовская область             372
Приморский край                372
Свердловская область           352
Вологодская область            341
Саратовская область            320
Челябинская область            301
Кировская область              281
Волгоградская область          279
Воронежская область            267
Тульская область               264
Татарстан                      263
Омская область                 260
Оренбургская область           251
Самарская область              235
Башкирия                       234
Архангельская область          230
Хабаровский край               230
Новосибирская область          226
Красноярский край              223
Иркутская область              215
Тюменская область              213
Белгородская область           207
Московская область             205
Курская область                204
Ставропольский край            202
Тверская область               197
                              ...
Смоленская область             140
Карелия                        136
Адыгея                         135
Орловская область              134
Мурманская область             132
Ленинградская область          132
Астраханская область           131
Ханты-Мансийский АО            128
Калужская область              124
Кабардино-Балкария             117
Нижегородская область          117
Костромская область            114
Санкт-Петербург                111
Москва                          97
Новгородская область            91
Карачаево-Черкесия              86
Северная Осетия                 84
Камчатская область              84
Марийская республика            82
Еврейская АО                    75
Горный Алтай                    72
Сахалинская область             71
Хакасия                         53
Магаданская область             29
Ямало-Ненецкий АО               25
Калмыкия                        23
Усть-Ордынский Бурятский АО      2
Чечня                            1
Агинский Бурятский АО            1
Коми-Пермяцкий АО                1
Name: FACT_ADDRESS_PROVINCE, Length: 81, dtype: int64
Краснодарский край             637
Кемеровская область            622
Алтайский край                 434
Читинская область              419
Ростовская область             372
Приморский край                371
Свердловская область           352
Вологодская область            338
Саратовская область            320
Челябинская область            300
Кировская область              281
Волгоградская область          281
Воронежская область            267
Тульская область               264
Татарстан                      263
Омская область                 260
Оренбургская область           251
Башкирия                       235
Самарская область              235
Архангельская область          232
Хабаровский край               230
Новосибирская область          225
Красноярский край              223
Иркутская область              215
Тюменская область              213
Белгородская область           209
Ставропольский край            206
Курская область                203
Тверская область               198
Московская область             198
                              ...
Смоленская область             142
Орловская область              136
Карелия                        135
Адыгея                         135
Ленинградская область          134
Мурманская область             132
Астраханская область           131
Ханты-Мансийский АО            127
Калужская область              125
Кабардино-Балкария             118
Нижегородская область          117
Костромская область            114
Санкт-Петербург                109
Новгородская область            91
Карачаево-Черкесия              87
Камчатская область              84
Северная Осетия                 84
Марийская республика            83
Москва                          77
Еврейская АО                    75
Горный Алтай                    72
Сахалинская область             71
Хакасия                         53
Магаданская область             29
Ямало-Ненецкий АО               25
Калмыкия                        24
Усть-Ордынский Бурятский АО      2
Агинский Бурятский АО            1
Коми-Пермяцкий АО                1
Дагестан                         1
Name: POSTAL_ADDRESS_PROVINCE, Length: 81, dtype: int64
Краснодарский край         747
Кемеровская область        615
Ставропольский край        431
Алтайский край             427
Читинская область          409
Ростовская область         383
Приморский край            373
Челябинская область        358
Кировская область          356
Свердловская область       343
Вологодская область        333
Саратовская область        318
1                          295
Волгоградская область      285
Красноярский край          281
Воронежская область        270
Тульская область           262
Омская область             258
Татарстан                  254
Оренбургская область       249
Новосибирская область      239
Санкт-Петербург            235
Хабаровский край           234
Самарская область          234
Архангельская область      227
Иркутская область          215
Амурская область           208
Курская область            208
Белгородская область       201
Ярославская область        199
                          ...
Тюменская область          167
Пензенская область         165
Башкирия                   163
Мордовская республика      162
Рязанская область          162
Псковская область          160
Удмуртия                   159
Владимирская область       157
Чувашия                    156
Калининградская область    155
Смоленская область         142
Орловская область          139
Пермская область           137
Карелия                    133
Якутия                     131
Астраханская область       131
Мурманская область         130
Калужская область          121
Костромская область        120
Нижегородская область       99
Новгородская область        90
Камчатская область          84
Адыгея                      83
Марийская республика        81
Горный Алтай                73
Еврейская АО                71
Сахалинская область         71
Магаданская область         29
Москва                      24
Кабардино-Балкария           9
Name: TP_PROVINCE, Length: 71, dtype: int64
ЮЖНЫЙ                 2070
ЦЕНТРАЛЬНЫЙ 2         1905
ЗАПАДНО-СИБИРСКИЙ     1781
ЦЕНТРАЛЬНЫЙ 1         1631
ПОВОЛЖСКИЙ            1435
ПРИВОЛЖСКИЙ           1268
УРАЛЬСКИЙ             1246
ВОСТОЧНО-СИБИРСКИЙ    1215
ДАЛЬНЕВОСТОЧНЫЙ       1070
СЕВЕРО-ЗАПАДНЫЙ        997
ЦЕНТРАЛЬНЫЙ ОФИС       292
Name: REGION_NM, dtype: int64
1    12444
0     2466
Name: REG_FACT_FL, dtype: int64
1    14119
0      791
Name: FACT_POST_FL, dtype: int64
1    13219
0     1691

Name: REG_POST_FL, dtype: int64
1    12438
0     2472
Name: REG_FACT_POST_FL, dtype: int64
1    13525
0     1385
Name: REG_FACT_POST_TP_FL, dtype: int64
0    10284
1     4626
Name: FL_PRESENCE_FL, dtype: int64
0    13821
1     1089
Name: AUTO_RUS_FL, dtype: int64
0    11749
1     3161
Name: HS_PRESENCE_FL, dtype: int64
0    14752
1      158
Name: COT_PRESENCE_FL, dtype: int64
0    14604
1      306
Name: GAR_PRESENCE_FL, dtype: int64
0    14309
1      601
Name: LAND_PRESENCE_FL, dtype: int64
1    8758
0    6152
Name: GPF_DOCUMENT_FL, dtype: int64
1    9046
0    5864
Name: FACT_PHONE_FL, dtype: int64
0    14044
1      866
Name: REG_PHONE_FL, dtype: int64
1    13562
0     1348
Name: GEN_PHONE_FL, dtype: int64

In [52]:
newdata.at[newdata['EDUCATION'] == 'Высшее или несколько высших', 'EDUCATION'] = 'Высшее'
newdata['EDUCATION'].value_counts()

Среднее специальное    6351
Среднее                4576
Высшее                 3131
Неоконченное высшее     521
Неполное среднее        331
Name: EDUCATION, dtype: int64

In [53]:
newdata.at[newdata['GEN_INDUSTRY'] == 'Салоны красоты и здоровья', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Информационные технологии', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Химия/Парфюмерия/Фармацевтика', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'СМИ/Реклама/PR-агенства', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Юридические услуги/нотариальные услуги', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Страхование', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Туризм', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Недвижимость', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Управляющая компания', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Логистика', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Подбор персонала', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'
newdata.at[newdata['GEN_INDUSTRY'] == 'Маркетинг', 'GEN_INDUSTRY'] = 'УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ'

newdata['GEN_INDUSTRY'].value_counts()

Торговля                                     2322
Другие сферы                                 1647
Металлургия/Промышленность/Машиностроение    1351
Пропуск                                      1346
Государственная служба                       1240
Здравоохранение                              1159
Образование                                  1028
Транспорт                                     780
Сельское хозяйство                            685
Строительство                                 605
Коммунальное хоз-во/Дорожные службы           497
УКРУПНЕННАЯ КАТЕГОРИЯ ЗАНЯТОСТИ               494
Наука                                         380
Ресторанный бизнес/Общественное питание       326
Нефтегазовая промышленность                   205
Сборочные производства                        174
ЧОП/Детективная д-ть                          158
Банк/Финансы                                  157
Развлечения/Искусство                         140
Энергетика                                    126
Информационные услуги                          90
Name: GEN_INDUSTRY, dtype: int64

In [54]:
newdata.at[newdata['GEN_TITLE'] == 'Партнер', 'GEN_TITLE'] = 'Другое'
newdata['GEN_TITLE'].value_counts()

Специалист                        6971
Рабочий                           2950
Пропуск                           1346
Служащий                           839
Руководитель среднего звена        699
Работник сферы услуг               555
Высококвалифиц. специалист         533
Руководитель высшего звена         414
Индивидуальный предприниматель     219
Другое                             182
Руководитель низшего звена         132
Военнослужащий по контракту         70
Name: GEN_TITLE, dtype: int64

In [55]:
newdata.at[newdata['ORG_TP_STATE'] == 'Частная ком. с инос. капиталом', 'ORG_TP_STATE'] = 'Частная компания'
newdata['ORG_TP_STATE'].value_counts()

Частная компания                  6397
Государственная комп./учреж.      6040
Пропуск                           1346
Индивидуальный предприниматель     925
Некоммерческая организация         202
Name: ORG_TP_STATE, dtype: int64

In [56]:
newdata.at[newdata['JOB_DIR'] == 'Реклама и маркетинг', 'JOB_DIR'] = 'Реклама и юр. услуги'
newdata.at[newdata['JOB_DIR'] == 'Юридическая служба', 'JOB_DIR'] = 'Реклама и юр. услуги'
newdata['JOB_DIR'].value_counts()

Участие в основ. деятельности    11161
Пропуск                           1346
Вспомогательный техперсонал       1066
Бухгалтерия, финансы, планир.      476
Адм-хоз. и трансп. службы          260
Снабжение и сбыт                   216
Служба безопасности                154
Кадровая служба и секретариат      100
Пр-техн. обесп. и телеком.          70
Реклама и юр. услуги                61
Name: JOB_DIR, dtype: int64

In [57]:
newdata.at[newdata['TP_PROVINCE'] == 'Кабардино-Балкария', 'TP_PROVINCE'] = 'Магаданская область'
newdata['TP_PROVINCE'].value_counts()

Краснодарский край         747
Кемеровская область        615
Ставропольский край        431
Алтайский край             427
Читинская область          409
Ростовская область         383
Приморский край            373
Челябинская область        358
Кировская область          356
Свердловская область       343
Вологодская область        333
Саратовская область        318
1                          295
Волгоградская область      285
Красноярский край          281
Воронежская область        270
Тульская область           262
Омская область             258
Татарстан                  254
Оренбургская область       249
Новосибирская область      239
Санкт-Петербург            235
Хабаровский край           234
Самарская область          234
Архангельская область      227
Иркутская область          215
Амурская область           208
Курская область            208
Белгородская область       201
Ярославская область        199
                          ...
Ульяновская область        170
Тюменская область          167
Пензенская область         165
Башкирия                   163
Рязанская область          162
Мордовская республика      162
Псковская область          160
Удмуртия                   159
Владимирская область       157
Чувашия                    156
Калининградская область    155
Смоленская область         142
Орловская область          139
Пермская область           137
Карелия                    133
Якутия                     131
Астраханская область       131
Мурманская область         130
Калужская область          121
Костромская область        120
Нижегородская область       99
Новгородская область        90
Камчатская область          84
Адыгея                      83
Марийская республика        81
Горный Алтай                73
Сахалинская область         71
Еврейская АО                71
Магаданская область         38
Москва                      24
Name: TP_PROVINCE, Length: 70, dtype: int64

In [58]:
newdata.at[newdata['POSTAL_ADDRESS_PROVINCE'] == 'Эвенкийский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
newdata.at[newdata['POSTAL_ADDRESS_PROVINCE'] == 'Агинский Бурятский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
newdata.at[newdata['POSTAL_ADDRESS_PROVINCE'] == 'Усть-Ордынский Бурятский АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
newdata.at[newdata['POSTAL_ADDRESS_PROVINCE'] == 'Дагестан', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
newdata.at[newdata['POSTAL_ADDRESS_PROVINCE'] == 'Коми-Пермяцкий АО', 'POSTAL_ADDRESS_PROVINCE'] = 'Магаданская область'
newdata['POSTAL_ADDRESS_PROVINCE'].value_counts()

Краснодарский край       637
Кемеровская область      622
Алтайский край           434
Читинская область        419
Ростовская область       372
Приморский край          371
Свердловская область     352
Вологодская область      338
Саратовская область      320
Челябинская область      300
Кировская область        281
Волгоградская область    281
Воронежская область      267
Тульская область         264
Татарстан                263
Омская область           260
Оренбургская область     251
Самарская область        235
Башкирия                 235
Архангельская область    232
Хабаровский край         230
Новосибирская область    225
Красноярский край        223
Иркутская область        215
Тюменская область        213
Белгородская область     209
Ставропольский край      206
Курская область          203
Московская область       198
Тверская область         198
                        ...
Владимирская область     155
Чувашия                  150
Удмуртия                 148
Пермская область         148
Смоленская область       142
Орловская область        136
Адыгея                   135
Карелия                  135
Ленинградская область    134
Мурманская область       132
Астраханская область     131
Ханты-Мансийский АО      127
Калужская область        125
Кабардино-Балкария       118
Нижегородская область    117
Костромская область      114
Санкт-Петербург          109
Новгородская область      91
Карачаево-Черкесия        87
Камчатская область        84
Северная Осетия           84
Марийская республика      83
Москва                    77
Еврейская АО              75
Горный Алтай              72
Сахалинская область       71
Хакасия                   53
Магаданская область       34
Ямало-Ненецкий АО         25
Калмыкия                  24
Name: POSTAL_ADDRESS_PROVINCE, Length: 77, dtype: int64

In [59]:
newdata['REG_ADDRESS_PROVINCE'] = newdata['REG_ADDRESS_PROVINCE'].map(newdata['REG_ADDRESS_PROVINCE'].value_counts())
newdata['FACT_ADDRESS_PROVINCE'] = newdata['FACT_ADDRESS_PROVINCE'].map(newdata['FACT_ADDRESS_PROVINCE'].value_counts())

In [60]:
newdata['CHILD_TOTALroot'] = newdata['CHILD_TOTAL']**(1/3)
newdata['PERSONAL_INCOMEroot'] = newdata['PERSONAL_INCOME']**(1/3)
newdata['TERMroot'] = newdata['TERM']**(1/3)
newdata['FST_PAYMENTroot'] = newdata['FST_PAYMENT']**(1/3)
newdata['FACT_LIVING_TERMroot'] = newdata['FACT_LIVING_TERM']**(1/3)
newdata['WORK_TIMEroot'] = newdata['WORK_TIME']**(1/3)
newdata['LOAN_NUM_TOTALroot'] = newdata['LOAN_NUM_TOTAL']**(1/3)
newdata['LOAN_NUM_CLOSEDroot'] = newdata['LOAN_NUM_CLOSED']**(1/3)
newdata['LOAN_NUM_PAYMroot'] = newdata['LOAN_NUM_PAYM']**(1/3)
newdata['LOAN_DLQ_NUMroot'] = newdata['LOAN_DLQ_NUM']**(1/3)

newdata['CHILD_TOTALroot'][newdata['CHILD_TOTALroot'] == np.inf] = 1
newdata['PERSONAL_INCOMEroot'][newdata['PERSONAL_INCOMEroot'] == np.inf] = 1
newdata['TERMroot'][newdata['TERMroot'] == np.inf] = 1
newdata['FST_PAYMENTroot'][newdata['FST_PAYMENTroot'] == np.inf] = 1
newdata['FACT_LIVING_TERMroot'][newdata['FACT_LIVING_TERMroot'] == np.inf] = 1
newdata['WORK_TIMEroot'][newdata['WORK_TIMEroot'] == np.inf] = 1
newdata['LOAN_NUM_TOTALroot'][newdata['LOAN_NUM_TOTALroot'] == np.inf] = 1
newdata['LOAN_NUM_CLOSEDroot'][newdata['LOAN_NUM_CLOSEDroot'] == np.inf] = 1
newdata['LOAN_NUM_PAYMroot'][newdata['LOAN_NUM_PAYMroot'] == np.inf] = 1
newdata['LOAN_DLQ_NUMroot'][newdata['LOAN_DLQ_NUMroot'] == np.inf] = 1

newdata.drop(['CHILD_TOTAL', 'PERSONAL_INCOME', 'TERM', 'FST_PAYMENT', 
           'FACT_LIVING_TERM', 'WORK_TIME', 'LOAN_NUM_TOTAL', 
           'LOAN_NUM_CLOSED', 'LOAN_NUM_PAYM', 'LOAN_DLQ_NUM'], axis=1, inplace=True)

newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14910 entries, 0 to 14909
Data columns (total 50 columns):
TARGET                        14910 non-null object
AGE                           14910 non-null int64
SOCSTATUS_WORK_FL             14910 non-null object
SOCSTATUS_PENS_FL             14910 non-null object
GENDER                        14910 non-null object
DEPENDANTS                    14910 non-null int64
EDUCATION                     14910 non-null object
MARITAL_STATUS                14910 non-null object
GEN_INDUSTRY                  14910 non-null object
GEN_TITLE                     14910 non-null object
ORG_TP_STATE                  14910 non-null object
ORG_TP_FCAPITAL               14910 non-null object
JOB_DIR                       14910 non-null object
FAMILY_INCOME                 14910 non-null object
REG_ADDRESS_PROVINCE          14910 non-null int64
FACT_ADDRESS_PROVINCE         14910 non-null int64
POSTAL_ADDRESS_PROVINCE       14910 non-null object
TP_PROVINCE                   14910 non-null object
REGION_NM                     14910 non-null object
REG_FACT_FL                   14910 non-null object
FACT_POST_FL                  14910 non-null object
REG_POST_FL                   14910 non-null object
REG_FACT_POST_FL              14910 non-null object
REG_FACT_POST_TP_FL           14910 non-null object
FL_PRESENCE_FL                14910 non-null object
OWN_AUTO                      14910 non-null int64
AUTO_RUS_FL                   14910 non-null object
HS_PRESENCE_FL                14910 non-null object
COT_PRESENCE_FL               14910 non-null object
GAR_PRESENCE_FL               14910 non-null object
LAND_PRESENCE_FL              14910 non-null object
CREDIT                        14910 non-null float64
GPF_DOCUMENT_FL               14910 non-null object
FACT_PHONE_FL                 14910 non-null object
REG_PHONE_FL                  14910 non-null object
GEN_PHONE_FL                  14910 non-null object
LOAN_MAX_DLQ                  14910 non-null int64
LOAN_AVG_DLQ_AMT              14910 non-null float64
LOAN_MAX_DLQ_AMT              14910 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    14910 non-null float64
CHILD_TOTALroot               14910 non-null float64
PERSONAL_INCOMEroot           14910 non-null float64
TERMroot                      14910 non-null float64
FST_PAYMENTroot               14910 non-null float64
FACT_LIVING_TERMroot          14910 non-null float64
WORK_TIMEroot                 14910 non-null float64
LOAN_NUM_TOTALroot            14910 non-null float64
LOAN_NUM_CLOSEDroot           14910 non-null float64
LOAN_NUM_PAYMroot             14910 non-null float64
LOAN_DLQ_NUMroot              14910 non-null float64
dtypes: float64(14), int64(6), object(30)
memory usage: 5.7+ MB

In [61]:
newdata_dummies = pd.get_dummies(newdata)

In [62]:
newdata_dummies.head()

,AGE,DEPENDANTS,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,OWN_AUTO,CREDIT,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED,CHILD_TOTALroot,PERSONAL_INCOMEroot,TERMroot,FST_PAYMENTroot,FACT_LIVING_TERMroot,WORK_TIMEroot,LOAN_NUM_TOTALroot,LOAN_NUM_CLOSEDroot,LOAN_NUM_PAYMroot,LOAN_DLQ_NUMroot,TARGET_0,TARGET_1,SOCSTATUS_WORK_FL_0,SOCSTATUS_WORK_FL_1,SOCSTATUS_PENS_FL_0,SOCSTATUS_PENS_FL_1,GENDER_0,GENDER_1,EDUCATION_Высшее,EDUCATION_Неоконченное высшее,...,REG_FACT_FL_0,REG_FACT_FL_1,FACT_POST_FL_0,FACT_POST_FL_1,REG_POST_FL_0,REG_POST_FL_1,REG_FACT_POST_FL_0,REG_FACT_POST_FL_1,REG_FACT_POST_TP_FL_0,REG_FACT_POST_TP_FL_1,FL_PRESENCE_FL_0,FL_PRESENCE_FL_1,AUTO_RUS_FL_0,AUTO_RUS_FL_1,HS_PRESENCE_FL_0,HS_PRESENCE_FL_1,COT_PRESENCE_FL_0,COT_PRESENCE_FL_1,GAR_PRESENCE_FL_0,GAR_PRESENCE_FL_1,LAND_PRESENCE_FL_0,LAND_PRESENCE_FL_1,GPF_DOCUMENT_FL_0,GPF_DOCUMENT_FL_1,FACT_PHONE_FL_0,FACT_PHONE_FL_1,REG_PHONE_FL_0,REG_PHONE_FL_1,GEN_PHONE_FL_0,GEN_PHONE_FL_1
0,39,1,299,301,0,11980.000,0,0.000,0.000,0.000,1.000,24.662,2.289,0.000,5.092,4.932,1.000,0.000,1.442,0.000,0,1,0,1,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1
1,48,1,352,352,0,5472.000,1,1050.000,1050.000,0.000,1.000,22.894,1.817,8.472,5.092,4.362,1.000,0.000,1.587,1.000,1,0,1,0,0,1,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0
2,36,2,633,639,0,17990.000,0,0.000,0.000,0.000,0.000,19.129,1.817,17.100,5.092,3.634,1.587,1.587,3.302,0.000,1,0,0,1,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1
3,38,0,235,230,1,7190.000,0,0.000,0.000,0.000,1.000,27.144,2.080,12.164,5.092,5.229,1.000,0.000,1.817,0.000,1,0,0,1,1,0,1,0,0,0,...,0,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1
4,58,0,267,267,1,13590.000,0,0.000,0.000,0.000,1.000,17.915,2.154,12.599,5.092,4.362,1.000,1.000,2.154,0.000,1,0,1,0,0,1,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0

In [63]:
y_new = newdata_dummies.loc[:, 'TARGET_1']
newdata_dummies.drop(['TARGET_0', 'TARGET_1'], axis=1, inplace=True)
X_new = newdata_dummies.loc[:, 'AGE':'GEN_PHONE_FL_1']

In [64]:
print("AUC на новой выборке: {:.3f}".format(roc_auc_score(y_new, logreg_fullset.predict_proba(X_new)[:, 1])))

AUC на новой выборке: 0.687

In [65]:
print("AUC на новой выборке: {:.3f}".format(roc_auc_score(y_new, forest_fullset.predict_proba(X_new)[:, 1])))

AUC на новой выборке: 0.672